            <footer>
                <div class="foot-text">
                    <div class="foot-logo animate-element">

                        <img src="images/down.png" />
                    </div>
                </div>
                <div class="foot-nav desktop-footer">
                    <div class="container">
                        <div class="left-foot-nav">
                            <ul>
                                <h5 class="foot-head">Sign Up For Special offers</h5>
                                <li>
                                    <input type="text" name="email" placeholder="Email*" id="email" />
                                    <input type="submit" class="btn btn-fork" id="subscribe" value="Surprise Me" />
                                  
                                </li>
                            </ul>
                            <ul>
                                <h5 class="foot-head">Get to know us</h5>
                                <!--<div class="foot-dvdr"></div>-->
                                <li><a href="about">About Forkspot</a></li>
                                <li><a href="https://forkspot.com/blog/" target="_blank">Our Blog</a></li>
                                <li><a href="news" target="_blank">News</a></li>
                                <li><a href="mailto:invest@forkspot.com">Investor relations</a></li>
                                <li><a href="https://www.indeed.com/cmp/Forkspot" target="_blank">Careers</a></li>
                            </ul>

                        </div>
                        <div class="right-foot-nav">
                            <ul>
                                <h5>Partner with us</h5>
                               <!-- <div class="foot-dvdr"></div>-->
                                <li><a href="https://biz.forkspot.com" target="_blank">For Restaurants</a></li>
                                <li><a href="https://biz.forkspot.com/login" target="_blank">Merchant Login</a></li>

                                <h5>Help</h5>
                                <!--<div class="foot-dvdr"></div>-->
                                <!--                            <li><a href="#">FAQ</a></li>-->
                                <li><a href="contact">Contact Us</a></li>
                            </ul>
                            <ul class="social-sec">
                                <h5>Connect with us</h5>
                                <div class="foot-dvdr"></div>
                                <li><a class="facebook" href="https://www.facebook.com/forkspot" target="_blank">Facebook</a></li>
                                <li><a class="twitter" href="https://twitter.com/forkspot" target="_blank">Twitter</a></li>
                                <li><a class="instagram" href="https://www.instagram.com/forkspot/" target="_blank">Instagram</a></li>
                                <li><a class="youtube" href="https://www.youtube.com/channel/UC_vJWIgDtSAa7j2BOGFgEzw" target="_blank">YouTube</a></li>
                                <li><a class="product-hunt" href="https://www.producthunt.com/posts/forkspot" target="_blank">Product Hunt</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="foot-nav-mobile">
                   <div class="container">
                        <div class="mob-foot">
                           <h5>Sign Up For Special offers<span class=""></span></h5>
                           <ul>
                               <li>
                                  <input type="text" id="email" placeholder="Email*" />
                                  <input type="button" class="btn btn-fork" id="subscribe" value="Surprise Me" />
                                </li>
                           </ul>

                        </div>
                        <div class="mob-foot">
                           <h5>Contact Us <span class=""></span></h5>
                           <ul>
                               <li>

                                </li>
                           </ul>

                        </div>
                        <div class="mob-foot">
                           <h5>Connect with us <span class=""></span></h5>
                           <ul>
                               <li><a class="facebook" href="https://www.facebook.com/forkspot" target="_blank">Facebook</a></li>
                              <li><a class="twitter" href="https://twitter.com/forkspot" target="_blank">Twitter</a></li>
                              <li><a class="instagram" href="https://www.instagram.com/forkspot/" target="_blank">Instagram</a></li>
                              <li><a class="youtube" href="https://www.youtube.com/channel/UC_vJWIgDtSAa7j2BOGFgEzw" target="_blank">YouTube</a></li>
                             <li><a class="product-hunt" href="https://www.producthunt.com/posts/forkspot" target="_blank">Product Hunt</a></li>
                           </ul>

                        </div>
                        <div class="mob-foot">
                           <h5>Partner with us <span class=""></span></h5>
                           <ul>
                                 <li><a href="https://biz.forkspot.com" target="_blank">For Restaurants</a></li>
                                <li><a href="https://biz.forkspot.com/login" target="_blank">Marchant login</a></li>
                           </ul>

                        </div>
                      </div>
                </div>
                <div class="bot-strip">
                    <div class="container relateive">
                        <ul class="mobile-boot-tags clearfix">
                            <li><a href="https://biz.forkspot.com/privacy_policy" target="_blank">Privacy Policy</a></li>
                            <li><a href="https://biz.forkspot.com/terms" target="_blank">Terms of Service</a></li>
                        </ul>
                        <p>© 2018 Forkspot.  All Rights Reserved</p><p>Made with <span class="icon-heart"></span> in Los Angeles</p>
                        <ul class="desktop-boot-tags">
                            <li><a href="https://biz.forkspot.com/privacy_policy" target="_blank">Privacy Policy</a></li>
                            <li><a href="https://biz.forkspot.com/terms" target="_blank">Terms of Service</a></li>
                        </ul>
                    </div>
                </div>
                <a href="#" id="back-to-top" title="Back to top"><i class="icon-top_arrow"></i></a>
            </footer>
<script type="text/javascript">
  $(document).ready(function(){
    $("#subscribe").click(function(){
      $.ajax({
        url: '/subscribe',
        method: 'post',
        data: {email:$("#email").val()},
        dataType: 'json',
        success: function(response) {
          alert(response.Message);
        }
      })
    })
  })
</script>