<header class="fixed_header">
                <div class="container">
                    <a class="logo" href="/"><img src="images/logo.png" alt="Fork Spot"></a>
                    <div class="searc-for-resta">
                        <span class="location-fill half">
                            <span class="icon-forkpoint icon-Address-Icon"></span>
                            <input type="text" placeholder="Enter Location">
                        </span>
                        <span class="location-fill half">
                            <span class="icon-forkpoint icon-Search-Icon"></span>
                            <input type="text" placeholder="e.g. Sushi, Italian, John’s Pizza">
                        </span>
                    </div>
                    
                    <div class="p-res-search" data-attribute="p-search-pop">
                        <span class="icon-Search-Icon"></span>
                    </div>
                </div>
            </header>