@media(max-width:1800px){}
@media(max-width:1700px){}
@media(max-width:1600px){
/*.left-cont-area {width: 72%;}*/
.app-stores h2.p-head.mar_bottom_20 {color: #fff;font-size: 29px;}
.app-stores .p-store-txt > span {display: block;font-size: 9px;}

}
@media(max-width:1500px)
{.resta-img img {width:220px;}
 span.discoout-rate{padding:20px 0;}
 span.icon-Address-Icon, span.icon-forkpoint {font-size: 30px;padding-bottom: 2px;}
 .resta-name.left {width: 27%;font-size: 20px; padding-left:30px}
 .resta-act {padding: 60px 0;}
 .right-cont-area .device-sec{width:150px;}
 .device-sec .touchslider {position: absolute;top: 38px;left: 17px;}
 .touchslider-item img {max-width: 117px;}
 .about-sec .touchslider-item img {max-width: 232px;top: 38px;left: 18px;}
 .city-scape-content {
    padding-top: 15px;
    padding-left: 0;
}

 }

@media(max-width:1400px){
    input.btn-fork.edt {padding: 15px 0;font-size:18px;}
    a.cnt-fb {background: #3B5998;color: #fff;padding: 15px 0;font-size: 18px;}
    .uploded-one {width: 150px;height: 150px;margin-left: 23px;}
    .location-fill input {width: 84%;}
    a.sp-ad.btn.btn-fork{width:31%;}
    a.sp-ad.btn.btn-fork{margin: 23px 1% 0 0;}
}
@media(max-width:1310px){
    .resta-act{width:12%;}
    .resta-loc {width: 25%;}
    .resta-img{overflow:hidden;}
    .resta-name.left {width: 35%;}
    span.loc-points {width: 34%;}
    .re-order {text-align: center !important;}
    h1.fork-caption{font-size:38px;}
    .p-right-sec {
    float: right;
    width: 40%;
}
    span.loco.right {
    width: 30%;
    margin-top: -11px;
}
    .web-list-grid li{min-height:360px;}
    .restaurant-inner-content {
    width: calc(100% - 370px);
    width: -webkit-calc(100% - 370px);
    width: -moz-calc(100% - 370px);
}
    .app-stores .p-store-wrap {
    margin: 5px 5px 5px 0;
    float: left;
    width: 41%;
    padding: 10px 7px;
}
    .app-stores .p-store-txt > span:last-child {
    font-size: 10px;
}
    .rhs-fixed-ord-deatail.resto-profile-page {
        width: 370px;
    }
    .problem-list li{min-height: 560px;}
    .blog-on-fork p.text-center {
    color: #fff;
    font-size: 18px;
    margin: 30px 0;
}

    }
@media(max-width:1200px)
{
    .right-cont-area{display:none;}
    .left-cont-area {
    width: 100%;
    text-align: center;
}
    .app-stores h2.p-head.mar_bottom_20{font-size:40px;}
    .app-stores .p-sub-head{margin-bottom:52px;}
    .p-store-txt.mar_left_25 {
    text-align: left;
}
    .app-stores .p-store-wrap {
    width: 48%;

}
    .app-stores .p-store-wrap i {
    font-size: 26px;
}
    .app-stores .p-store-txt > span {
    display: block;
    font-size: 12px;
}
    .app-stores .p-store-txt > span:last-child {
    font-size: 15px;
    text-align: left;
}
    span.prob-title {
    font-size: 24px;
    width: 173px !important;
    min-height: 53px;
    line-height: 25px;
    float: none !important;
    margin: 15px auto !important;
}
    span.prob-detailed {
    font-size: 15px;
}
    .owl-next {
        position: absolute;
        right: -60px;
    }
    .owl-prev {
    left: -75px;
}
li .ph-no {width: 20%;float:left; text-align: center;}
li .adr {float: left;width: 35%;margin-right: 2%;}
.device-sec .touchslider .touchslider-viewport .touchslider-item img {width: 231px;}
li .ph-no {width: 22%;float: left;text-align: right;}
.re-order {float: left;width: 38%;margin:0 0 18px 0;text-align:left;}
.searc-for-resta {width: 55%;margin-left:30px;}
.location-fill input{font-size:17px;}
span.icon-Address-Icon, span.icon-forkpoint {font-size: 23px;padding-top: 10px;}
.resta-name.left{padding-left:10px;}
.resta-img img {width: 160px;}
.resta-name.left {width: 25%;font-size: 25px;padding: 30px 0 0px 21px;}
span.dolllar-cont {font-size: 18px;}
span.est-time {font-size: 13px;}
span.rate-number {font-size: 12px;}
span.discoout-rate {font-size: 15px;}
span.loc-points {width: 30%;padding: 3px 7px;}
.resta-act {padding: 50px 0;}
span.discoout-rate {padding: 15px 0;}
span.loc-rate{margin-bottom:5px;}
.resta-name.left {font-size: 20px;}
.resta-loc {width: 35%;}
.lhs-menu{width:230px;}
    .rhs-main-content {
        width: calc(100% - 250px);
        width: -webkit-calc(100% - 250px);
        width: -moz-calc(100% - 250px);
    }
    .menu-items li a {
        padding: 20px 0 20px 12px;
        font-size:17px;
    }
    ul.menu-items li i {
    font-size: 25px;
}
    .my-Account i.icon-Profile2-Icon,span.my-Account{font-size:18px;}
    span.bag{
        float: right;
    width: 32px;
}
    span.my-Account{padding:12px 30px;}

    .bag img {
    width: 95%;
    margin: 7px 0;
}
}
@media(max-width:1150px)

{
    span.acco-price{width:42px}
}

@media(max-width:1024px) {
    input.btn-fork.edt {
        width: 40%;
        font-size: 20px;
    }


    a.cnt-fb {
        background: #009ca7;
        color: #fff;
        width: 54%;
        font-size: 20px;
        float: right;
        padding: 19px 0;
    }

    .prom-inp input[type="text"] {
        width: 66%;
    }

    img.banner-img {
        width: auto;
    }

    .nbs-flexisel-container {
        width: 100%;
    }

    .nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
        display: none;
    }
}
  

@media(max-width:1000px)
{


     .lhs-menu{ right:-300px;  -webkit-transition: 1s all;
        -ms-transition: 1s all;
        -moz-transition: 1s all;
        -o-transition: 1s all;}
    .rhs-main-content {
    width: 96%;
    margin: 0 auto;
    display: block;
    float: none;
}

   

.lhs-menu.show {
    display: block;
    right: 0px;
    transition: 1s all;
}

    .p-btn-inp{padding:12px 0;}
/*.p-left-sec{width:100%;}*/
.app-store-links p.p-para {width: 100%;float: left;}
 .p-get-app{float: left; width: 100%;-webkit-justify-content: center; justify-content: center;}
}
@media(max-width:768px) {
    .resta-loc {
        width: 65%;
    }
    .resto-rate{margin-top:0px;
                margin-bottom:20px;
    }
    span.dolllar-cont {
        text-align: left;
        float: right;
        width: 50%;
        text-align: right;
        padding: 32px 17px;
    }

    .resta-saved .loc-rate {
        background: transparent;
        color: #f98408;
        margin-top: 24px;
    }
        .app-stores .p-sub-head {
    margin-bottom: 19px;
}

    span.dolllar-cont {
        font-size: 24px;
    }

    .resta-act {
        padding: 14px 0;
    }

    span.icon-Address-Icon, span.icon-forkpoint {
        font-size: 43px;
        padding-top: 0;
    }

    .resta-name.left {
        width: 270px;
        font-size: 25px;
        padding: 0px 26px;
    }

    .resta-name.left {
        font-size: 24px;
    }

    li.resta-saved {
        padding: 9px;
        background: #F2F2F2;
        position: relative;
    }

    .resta-act {
        width: 21%;
        position: absolute;
        top: 0;
        right: 2%;
    }

    span.est-time {
        font-size: 10px;
    }

    span.star-rates {
        padding: 6px;
    }

    span.discoout-rate {
        display: none;
    }

    .resta-img img {
        width: 100%;
    }

    span.dolllar-cont {
        font-size: 16px;
    }

    span.star-rates {
        font-size: 14px;
    }

    .resta-img {
        width: 35%;
    }

    span.star-rates {
        font-size: 20px;
    }

    span.locto span.loc-icon.loc-line {
        float: left;
        padding: 5px 10px;
    }

    span.loc-points {
        width: 69%;
    }

    span.locto {
        float: left;
        width: 63px;
    }
    .inner-haxo
    {margin:0px;}
}
@media(max-width:600px) {
    

    span.icon-Address-Icon, span.icon-forkpoint {
        font-size: 27px;
        padding-top: 10px;
    }
    span.loc-icon.loc-line.search-bar {
    width: 60%!important;
    padding: 5px 10px;
    border-top-right-radius:10px;
    border-bottom-right-radius: 10px;
}
    span.loc-icon.loc-line.s-acto {
    width: 200px;
    margin: 15px auto;
    display: inline-block;
    float: none;
    border-radius: 10px !important;
}
    span.dolllar-cont {
        text-align: left;
        float: right;
        width: 91px;
        text-align: right;
        padding: 32px 6px;
    }

   span.dolllar-cont {
    font-size: 16px;
}

    span.loc-points {
        width: 168px;
        float: left;
    }

    .inner-page-cont {
        width: 98%;
    }
    span.star-rates {
    font-size: 14px;
}
    .resta-name.left {
    font-size: 20px;
}
    span.dolllar-cont {
    text-align: left;
    float: right;
    width: 57px;
    text-align: right;
    padding: 22px 0px;
}
}
    .p-address-select {
        padding: 17px 42px;
        font-size: 19px;
    }

    span.loc-icon.loc-line {
        float: left;
        padding: 5px 10px;
    }
    .lhs-cont .timeline-content

    {
        position:static;
    }

    .search-bar input[type="text"] {
        padding: 13px 5px;
        font-size: 17px;
    }

    .p-switch-wrap {
        float: none;
    }

    .searc-for-resta {
        display: none;
    }

    .p-address-icon {
        line-height: 46px;
    }

    .p-switch span {
        padding: 10px 0;
    }

    header .logo {
        width: 30%;
    }
    /*about page responsive css*/
    .orange-range .lhs-cont {
        min-height: initial;
        width: 100%;
        margin-top: 229px;
        text-align: left;
        float: left;
    }

    .orange-range .rhs-cont {
        min-height: 197px;
        position: absolute;
        left: 50px;
    }

    .lhs-cont .timeline-content {
        text-align: left;
        padding: 0px;
            margin-bottom: 12px;
                padding-left: 14px;

    }

    .orange-range .partation {
        background: #F19410;
        min-height: 150px;
        position: absolute;
        left: 0;
    }
    h2.company-timeline-heading {
    position: static;
    font-size: 36px;
    padding: 25px;
    background: #f19310;
    color: #fff;
    padding-left: 30px;
    text-align: center;
}
span.year-count {
    float: left;
    width: 110px;
    text-align: center;
    height: 110px;
    background: #fff;
    border-radius: 50%;
    margin: 15px;
    box-shadow: 6px 9px 36px -9px rgba(0, 0, 0, 0.5803921568627451);
    padding: 38px 0;
    font-size: 29px;
    font-weight: bold;
}
    .rhs-cont span.year-step {
        width: 140px;
        height: 140px;
    }
    .red-range .partation {
    background: #f42d54;
    right: 0;
    position: absolute;
}

    .lg-green-range .lhs-cont {
    position: relative;
    min-height: 150px;
    position: absolute;
    right: 44px;
}
    .lg-green-range .rhs-cont {
    min-height: initial;
    width: 100%;
    margin-top: 150px;
    float: right;
    text-align: right;
}
    .dg-green-range .partation {
    position: absolute;
    left: 0;
    min-height: 150px;
}
    .orange-range .partation {
    min-height: 200px;
}
    .dg-green-range .rhs-cont {
    min-height: 150px;
    position: absolute;
    left: 50px;
}
    .dg-green-range .lhs-cont {
    min-height: initial;
    width: 100%;
    margin-top: 205px;
}
    .lg-green-range .partation {
    min-height: 150px;
    position: absolute;
    right: 0;
}
    .container-inner.yellow-range .partation {
    background: #FCD93A;
    position: absolute;
    height: 150px !important;
}
    .container-inner.yellow-range .partation {
    background: #FCD93A;
    position: absolute;
    min-height: 150px !important;
}
    .yellow-range .rhs-cont {
    position: absolute;
    left: 50px;
    min-height:150px;
}
    .yellow-range .lhs-cont {
    float: left;
    width: calc(50% - 25px);
    width: -webkit-calc(50% - 25px);
    width: -moz-calc(50% - 25px);
    width: 100%;
    margin-top: 150px;
}
    .rhs-cont .timeline-content {
    padding: 0px 20px 20px 0px;
}
        .orange-range .lhs-cont {
    margin-top: 290px;
    margin-bottom: -40px;
}
    .timeline-content p{width:90%;}

    /*23-11-2017 PK*/
    .owl-prev{ left: -60px;}
    .owl-next{ right: -50px;}
    /*23-11-2017 PK*/
}


@media(max-width: 560px){

  /*23-11-2017 PK*/
  .orange-range .lhs-cont{ margin-top: 290px !important;}
  .dg-green-range .lhs-cont{ margin-top: 215px;}
  .yellow-range .lhs-cont{ margin-top: 160px;}
  
  /*23-11-2017 PK*/
}
span.resta-right-clif {
    position: absolute;
    right: 0;
    bottom: 0;
    background: rgba(87, 87, 87, 0.68);
    padding: 16px 16px 17px;
    font-size: 20px;
    color: #fff;
    text-align: center;
}
h3.p-sub-head {
    margin-bottom: 23px;
}
/*23-11-2017 PK*/
@media(max-width: 480px){
    .orange-range .lhs-cont { margin-top: 300px !important;}
    .owl-prev{ left: -45px;}
    .p-store-txt > span:last-child {
    font-size: 12px;
}
    .inner-haxo {
    width: 92%;
}
    span.loco.right {
    width: 30%;
    margin-top: -42px;
}
    .s-acto input.btn {
    padding: 14px 14px;
}
    .absolute-method
    {
        top:40%;
    }
    /*.p-get-app {
        flex-direction:column;
        -ms-flex-direction:column;
        -webkit-flex-direction:column;
}*/
    .owl-next{ right: -35px;}
    .p-store-wrap {
    border: 2px solid #cdcdcd;
    border-radius: 10px;
    padding: 6px 10px;
}
    .app-store-links .p-store-txt {
    margin-left: 6px;
}
}

@media (max-width: 410px){
    .orange-range .lhs-cont{ margin-top: 325px !important;}
}
/*23-11-2017 PK*/