<%- include('../partials/head'); %>
<body>
    <div class="pop-wrapper">
        <div class="main_warapper">
            <%- include('../partials/header'); %>            <section class="pad_top_100 about-sec">
                <div class="container-inner">
                    <div class="flex flex-middle">
                        <div class="p-left-sec abt p-toggle-parent">
                            <h1 class="main-heading">What is Forkspot?</h1>
                            <p>Forkspot is a mobile app for people who love eating at great restaurants but hate waiting in line. It offers tonnes of great features such as scheduled orders, location based coupons, smart menus, express re-ordering and convenience you can count on.</p>
                            <p>Imagine an easy-to-use app that connects restaurants and food lovers together in a unique experience. At Forkspot, we are reinventing the way people discover and eat at restaurants, bars and coffee shops.</p>
                            <p class="p-toggle">Currently Forkspot provides service in Los Angeles and San Diego with over 1000 restaurants. Guaranteed customer service and greater satisfaction can follow out-of-the-box thinking and innovation. At Forkspot every hour is happy hour!</p>
                            <div class="flex flex-center">
                                <div class="p-read-more p-toggle-click flex flex-column flex-middle">
                                    <span class="p-read-txt mar_bottom_5">Read More</span>
                                    <span class="p-down"></span>
                                </div>
                            </div>
                        </div>
                        <div class="p-right-sec mar_left_50">
                            <div class="device-sec animate-element">
                                <div class="touchslider">
                                    <div class="touchslider-viewport">
                                        <div>
                                            <div class="touchslider-item"><img src="images/banner-slide-img-1.png" alt=""></div>
                                            <div class="touchslider-item"><img src="images/banner-slide-img-2.png" alt=""></div>
                                            <div class="touchslider-item"><img src="images/banner-slide-img-3.png" alt=""></div>
                                            <div class="touchslider-item"><img src="images/banner-slide-img-4.png" alt=""></div>
                                            <div class="touchslider-item"><img src="images/banner-slide-img-5.png" alt=""></div>
                                            <div class="touchslider-item"><img src="images/banner-slide-img-6.png" alt=""></div>
                                            <div class="touchslider-item"><img src="images/banner-slide-img-7.png" alt=""></div>
                                            <div class="touchslider-item"><img src="images/banner-slide-img-8.png" alt=""></div>
                                        </div>
                                    </div>
                                </div>
                                <img src="images/banner_device_new.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- <section class="how-work-about p-about-desk">
                <div class="container-inner">
                    <div class="text-center how-work-abt">
                        <h1 class="text-center">How it Works</h1>
                        <img src="images/how-it-work.png" />
                    </div>
                </div>
            </section> -->
            
            
            

            
            <section class="problems p-prob-desk">
                <div class="container-inner">
                    <ul class="problem-list">
                        <li class="prb_one pink">
                            
                            <div class="main-cont-inn">
                                <span class="problem"><img src="images/Discount_icon.png" alt="" height="200px"></span>
                                <span class="prob-title">Order Ahead</span>
                                <span class="prob-detailed">By having Forkspot on your phone you will never miss restaurant discounts again. Your phone will instantly notify you if it finds a discount at your current location. Even if your Forkspot app is closed.</span>
                            </div>
                        </li>
                        <li class="prb_one blue">
                            
                            <div class="main-cont-inn">
                                <span class="problem"><img src="images/Savetime_icon.png" alt="" height="200px"></span>
                                <span class="prob-title">Save time and money </span>
                                <span class="prob-detailed">With Forkspot you save time by placing orders ahead of time and getting notified when your food is actually ready for pickup or dine-in. You  save money by seamlessly applying discounts available exclusively on Forkspot to every order.</span>
                            </div>
                        </li>
                        <li class="prb_one yellow">
                            
                            <div class="main-cont-inn">
                                <span class="problem"><img src="images/Rideshare_icon.png" alt="" height="200px"></span>
                                <span class="prob-title">Ride Sharing </span>
                                <span class="prob-detailed">Forkspot will automatically compare Lyft and Uber fares to any of our restaurants and will allow you to book the cheapest ride with a press of a button.</span>
                            </div>
                        </li>
                        <li class="prb_one greenish">
                            
                            <div class="main-cont-inn">
                                <span class="problem"><img src="images/Reviews_icon.png" alt="" height="200px"></span>
                                <span class="prob-title">
                                    Authentic
                                    Reviews
                                </span>
                                <span class="prob-detailed">Forkspot will also ask for your review once you leave the restaurant. Rest-assured that all of the reviews are authentic and real, because Forkspot uses proximity technology to validate reviews.No more fake reviews or reviews from strangers.
</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>

            <section class="p-prob-res">
                
                <div class="flexslider">
                    <ul class="slides">
                        <li>
                            <div class="p-top-num bg-red">
                                
                            </div>
                            <div class="p-middle-sec">
                                <span><i class="icon-discount txt-red"></i></span>
                                <h4 class="p-heading txt-red">Real Time Discounts</h4>
                                <p class="p-para-bottom">By having Forkspot on your phone you will never miss restaurant discounts again. Your phone will instantly notify you if it finds a discount at your current location. Even if your Forkspot app is closed.</p>
                            </div>
                            <div class="p-strip bg-red">
                            </div>
                        </li>
                        <li>
                            <div class="p-top-num bg-blue">
                              
                            </div>
                            <div class="p-middle-sec">
                                <span><i class="icon-review txt-blue"></i></span>
                                <h4 class="p-heading txt-blue">Save time and money</h4>
                                <p class="p-para-bottom">We all want to save time and money, but we don’t always do. 
With Forkspot you save time by placing orders ahead of time and 
getting notified when your food is actually ready for pickup 
or dine-in. You are also guaranteed to save money because 
we seamlessly apply discounts available exclusively on Forkspot 
to every order.</p>
                            </div>
                            <div class="p-strip bg-blue">
                            </div>
                        </li>
                        <li>
                            <div class="p-top-num bg-yellow">
                                
                            </div>
                            <div class="p-middle-sec">
                                <span><i class="icon-car txt-yellow"></i></span>
                                <h4 class="p-heading txt-yellow">Ride Sharing</h4>
                                <p class="p-para-bottom">Forkspot will automatically compare Lyft and Uber fares to any of our restaurants and will allow you to book the cheapest ride with a press of a button.</p>
                            </div>
                            <div class="p-strip bg-yellow">
                            </div>
                        </li>
                        <li>
                            <div class="p-top-num bg-green">
                                
                            </div>
                            <div class="p-middle-sec">
                                <span><i class="icon-star txt-green"></i></span>
                                <h4 class="p-heading txt-green">Instant Recommendations</h4>
                                <p class="p-para-bottom">Forkspot will instantly show you most popular menu items liked by other visitors once you walk into restaurants. You will never again ask your server a question “what’s your most popular pizza?”</p>
                            </div>
                            <div class="p-strip bg-green">
                            </div>
                        </li>                 
                    </ul>
                </div>
            </section>

            <section class="media-hits">
                <div class="container-inner">
                    <div class="mh-heading">
                        <h1 class="text-center">Media-hits</h1>
                    </div>
                    <div class="demo">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-6 testo-play">
                                    <div id="testimonial-slider" class="owl-carousel">
                                        <div class="testimonial">
                                            <p class="description">
                                                Feast On Great Food And Great Deals Using
                                                Forkspot - KillerStartups.com
                                            </p>
                                            <a href="javascript:void(0)" class="btn btn-fork"> Read More</a>
                                        </div>
                                        <div class="testimonial">
                                            <p class="description">
                                                Various offers and get quality food Using
                                                Forkspot - KillerStartups.com
                                            </p>
                                            <a href="javascript:void(0)" class="btn btn-fork"> Read More</a>
                                        </div>
                                        <div class="testimonial">
                                            <p class="description">
                                                @Forkspot makes it easy for my coworkers and I to order food and get it to our office in a jiffy, Food!!
                                            </p>
                                            <a href="javascript:void(0)" class="btn btn-fork"> Read More</a>
                                        </div>
                                        <div class="testimonial">
                                            <p class="description">
                                                @Forkspot makes it easy for my coworkers and I to order food and get it to our office in a jiffy, Food!!
                                            </p>
                                            <a href="javascript:void(0)" class="btn btn-fork"> Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="company-timeline">
                <div class="container-inner righto dg-green-range orange-range clearfix">
                    <h2 class="company-timeline-heading"> Company Timeline</h2>
                    <div class="lhs-cont">
                        <div class="timeline-content">
                            <h2>Technology Development</h2>
                            <p>By October 2017 over 1000 restaurants, bars and coffee shops had joined Forkspot. In December of 2017 Forkspot will launch its food ordering platform as well as the restaurant tablet technology that streamlines the pickup and dine-in ordering process.</p>
                        </div>
                    </div>
                    <div class="partation"></div>
                    <div class="rhs-cont">
                        <span class="year-step">
                            <span class="year-count">
                                2018 May
                            </span>
                        </span>
                    </div>
                </div>
                
              
                
                <div class="container-inner lefto lg-green-range red-range clearfix">
                    <div class="lhs-cont">
                        <span class="year-step">
                            <span class="year-count">
                                2017 Feb
                            </span>
                        </span>
                    </div>
                    <div class="partation"></div>
                    <div class="rhs-cont">
                        <div class="timeline-content">
                            <h2>Expansion</h2>
                            <p>In February of 2017 Forkspot secures additional Series A funding from Capital Union Partners (Hong Kong) and opens its second market in San Diego, CA with over 400 restaurants under its belt.</p>
                        </div>
                    </div>
                </div>
                <div class="container-inner righto dg-green-range clearfix">
                    <div class="lhs-cont">
                        <div class="timeline-content">
                            <h2>First Funding</h2>
                            <p>Forkspot secures its first Series A funding in January of 2017.</p>
                        </div>
                    </div>
                    <div class="partation"></div>
                    <div class="rhs-cont">
                        <span class="year-step">
                            <span class="year-count">
                                2017 Jan
                            </span>
                        </span>
                    </div>
                </div>


                <div class="container-inner lefto lg-green-range clearfix">
                    <div class="lhs-cont">
                        <span class="year-step">
                            <span class="year-count">
                                2016 Aug
                            </span>
                        </span>
                    </div>
                    <div class="partation"></div>
                    <div class="rhs-cont">
                        <div class="timeline-content">
                            <h2>Product Launched</h2>
                            <p>Forkspot mobile apps were launched in the iTunes and Google Play app stores in August, 2016. First 100 restaurants joined the Forkspot platform by the end of 2016.</p>
                        </div>
                    </div>
                </div>
                <div class="container-inner righto yellow-range clearfix">
                    <div class="lhs-cont">
                        <div class="timeline-content">
                            <h2>Company Founded</h2>
                            <p>Forkspot was founded as a restaurant discounts app in December of 2015 by its founder Grigori Mikayelyan.</p>
                        </div>
                    </div>
                    <div class="partation"></div>
                    <div class="rhs-cont">
                        <span class="year-step">
                            <span class="year-count">
                                2015 Dec
                            </span>
                        </span>
                    </div>
                </div>
            </section>
            <%- include('../partials/footer'); %>
            
        </div>
        <a href="#" id="back-to-top" title="Back to top"><i class="icon-top_arrow"></i></a>
        <div id="loader-sec" style="display:block">
            <div class="loader-img"><img src="images/fork_new.gif" alt="loader image"></div>
        </div>
        
    </div>

        <!-- Login Popups -->
        <div data-pop="fork-login" class="fork-pop log-pop">
            <div class="fork-pop-header p-login-bar">
                <img src="images/logo.png" />
                <span class="close_model">X</span>
            </div>
            <span class="p-close p-res-close">x</span>
            <div class="pop-container">
                <h2 class="p-login-head text-center">Log In</h2>
                <div class="inp-log p-login-inp">
                    <div class="form-group">
                        <span class="icon-Email-Icon"></span>
                        <input type="text" placeholder="Email" />
                    </div>
                    <div class="form-group">
                        <span class="icon-Password-Icon"></span>
                        <input type="password" placeholder="Password" />
                    </div>
                    <div class="clearfix p-forgot-wrap"><a href="#" class="forgo-pass" data-attribute="fork-forgot-pass">Forgot Password ?</a></div>
                    <div class="p-login-btn">
                        <input class="btn btn-fork p-login" type="button" value="Log In" />
                        <div class="p-login-fb">
                            <i class="icon-facebook"></i>
                            <input class="btn btn-fork fb" type="button" value="Continue with Facebook" />
                        </div>
                    </div>

                    <p class="switch-to-pop">Don't have an account? <a data-attribute="fork-reg" href="javascript:void(0)">Create Your Account</a></p>
                </div>
            </div>
        </div>
        <div data-pop="fork-forgot-pass" class="fork-pop log-pop p-forgot-pop reg-pop">
            <div class="fork-pop-header p-login-bar">
                <img src="images/logo.png" />
                <span class="close_model">X</span>
            </div>
            <span class="p-close p-res-close">x</span>
            <div class="pop-container">
                <h2 class="p-login-head text-center">Forgot Password</h2>
                <div class="inp-log p-login-inp mar_bottom_35">
                    <div class="form-group">
                        <span class="icon-Email-Icon"></span>
                        <input type="text" placeholder="Email" />
                    </div>
                    <div class="p-login-btn">
                        <input class="btn btn-fork p-login" type="button" value="Reset Password" />                        
                    </div>
                </div>
            </div>
        </div>
        <div data-pop="fork-reg" class="fork-pop reg-pop p-signup-pop">
            <div class="fork-pop-header">
                <img src="images/logo.png" />
                <span class="close_model">X</span>
            </div>
            <span class="p-close p-res-close">x</span>
            <div class="pop-container">
                <h2 class="p-login-head text-center">Create Your Account</h2>
                
                <div class="p-signup-wrap">
                    <div class="p-login-fb">
                        <i class="icon-facebook"></i>
                        <input class="btn btn-fork fb" type="button" value="Sign up via Facebook">
                    </div>
                    <div class="p-login-fb">
                        <i class="icon-google-plus"></i>
                        <input class="btn btn-fork google-up" type="button" value="Sign up via Google">
                    </div>
                    <div class="text-center">
                        <span class="p-or-span">OR</span>
                    </div>
                </div>

                <div class="inp-log p-signup-form">
                    <div class="form-group half left">
                        <input type="text" placeholder="First Name" />
                    </div>
                    <div class="form-group half right">

                        <input type="text" placeholder="Last Name" />
                    </div>
                    <div class="form-group">
                        <span class="icon-Email-Icon"></span>
                        <input type="text" placeholder="Email" />
                    </div>
                    <div class="form-group">
                        <span class="icon-Password-Icon"></span>
                        <input type="password" placeholder="Password" />
                    </div>
                    <div class="form-group p-form-mar">
                        <span class="icon-Password-Icon"></span>
                        <input type="password" placeholder="Confirm Password" />
                    </div>
                    <div class="p-signup-btn"><input class="btn btn-fork" type="button" value="Create your Account" /></div>
                    
                    <p class="p-pop-txt">By tapping ‘CreateYour Account’ You agree to the Forkspot <a href="javascript:void(0)">Term of services</a> &amp; <a href="javascript:void(0)">Privacy Policy</a></p>
                    <p class="p-pop-txt">Already a Forkspot member?<a data-attribute="fork-login" class="st-log" href="javascript:void(0)"> Sign In</a></p>
                </div>
            </div>
        </div>
        <!-- Login Popups -->

    <script type="text/javascript">
        $(document).ready(function () {
            $("#testimonial-slider").owlCarousel({
                items: 1,
                itemsDesktop: [1000, 1],
                itemsDesktopSmall: [979, 1],
                itemsTablet: [767, 1],
                pagination: false,
                transitionStyle: "fade",
                navigation: true,
                navigationText: ["", ""],
                autoPlay: true
            });

            $("#about-slider").flexisel({
                visibleItems: 1,
                itemsToScroll: 1,
                autoPlay: {
                    enable: true,
                    interval: 1000000,
                    pauseOnHover: true
                }
            });

            $('.flexslider').flexslider({
                animation: "slide"
              });

            // New instance of Wallop
            var slider = document.querySelector('.Wallop');
            new Wallop(slider, {
                carousel: false
            });
        });
    </script>

</body>
</html>