<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Forkspot</title>
    <link rel="stylesheet" type="text/css" href="fonts/stylesheet.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href="css/responsive.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="js/jquery.flexisel.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.transitions.css">
     <link rel="stylesheet" type="text/css" href="css/flexslider.css">
    <script type="text/javascript" src="js/jquery.flexslider.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>
    <script src="js/custom.js"></script>
    <script src="js/Wallop.min.js"></script>
    <script src="js/jquery.touchslider.min.js"></script>


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="pop-wrapper">
        <div class="main_warapper">
            <header class="fixed_header">
                <div class="container">
                    <a class="logo" href="#"><img src="images/logo.png" alt="Fork Spot"></a>
                    <div class="searc-for-resta">
                        <span class="location-fill half">
                            <span class="icon-forkpoint icon-Address-Icon"></span>
                            <input type="text" placeholder="Enter Location">
                        </span>
                        <span class="location-fill half">
                            <span class="icon-forkpoint icon-Search-Icon"></span>
                            <input type="text" placeholder="e.g. Sushi, Italian, John’s Pizza">
                        </span>
                    </div>
                    <div class="topbar-actions">
                        <span class="login-act act"><a data-attribute="fork-login" href="javascript:void(0)">Log In</a></span>
                        <span class="bag">
                            <i class="icon-Shopping-Bag-Icon"></i>
                        </span>
                    </div>
                </div>
            </header>
            
            <section class="p-main-sec">
                <div class="p-top-head">                    
                    <div class="p-main-img-wrap">
                        <h1 class="p-main-head">Contact Us</h1>
                        <img src="images/contact-img.png">
                    </div>                    
                </div>
                <div class="p-contact-sec">
                    <div class="p-container">
                        <h2>How Can We Help You?</h2>
                        <h3>Our Customer Care Team is around to help.</h3>
                        <div class="p-contact-btn">
                            <button class="button">Chat With Us</button>
                            <button class="button">Call Us 1-855-367-5699</button>
                        </div>
                    </div>
                </div>
                <div class="p-answer-sec">
                    <div class="p-container">
                        <div class="p-answer-wrap">
                            <h2>Find Answers Fast</h2>
                            <div class="p-ans-list-wrap">
                                <ul class="p-answer-list">
                                    <li>
                                        <p class="p-ques">I have an issue with my order</p>
                                        <p class="p-desc">Missing an item, incorrect items, etc.</p>
                                        <div><button class="p-ans-btn">Let Us Know</button></div>
                                    </li>
                                    <li>
                                        <p class="p-ques">I have a random comment</p>
                                        <p class="p-desc">Suggestions, ideas,  etc.</p>
                                        <div><button class="p-ans-btn">Drop Us a Line</button></div>
                                    </li>
                                </ul>
                                <ul class="p-answer-list">
                                    <li>
                                        <p class="p-ques">I have question about charges</p>
                                        <p class="p-desc">Multiple charges, $1 charge, etc.</p>
                                        <div><button class="p-ans-btn">Get Answers</button></div>
                                    </li>
                                    <li>
                                        <p class="p-ques">I care about something else</p>
                                        <p class="p-desc">Suggestions, ideas,  etc.</p>
                                        <div><button class="p-ans-btn">See All Topics</button></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-query-sec">
                    <div class="p-container">
                        <div class="p-div-wrap">
                            <div class="p-query-wrap">
                                <p class="p-query">Still need help? Get in touch</p>
                                <p class="p-sol">We're here to help! Email us at <a class="p-blue-txt">info@forkspot.com</a> or call us on <a class="p-blue-txt">1-855-367-5699</a></p>
                                <p class="p-note">Please note we don't currently accept orders over the phone - so if you'd like to place an order, please place it online. The number above is for customer service enquiries only.</p>
                            </div>
                            <div class="p-division"></div>
                            <div class="p-query-wrap">
                                <p class="p-query">Media Enquiries</p>
                                <p class="p-sol">For quotes, interviews or other media requests, please email <a class="p-blue-txt">press@forkspot.com</a>.</p>
                                <p class="p-note">Unfortunately the press office doesn't have access to account information, so can't help with customer enquiries. Please call the customer service support number above.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <footer>
                <div class="foot-text">
                    <div class="foot-logo animate-element">

                        <img src="images/down.png" />
                    </div>
                </div>
                <div class="foot-nav desktop-footer">
                    <div class="container">
                        <div class="left-foot-nav">
                            <ul>
                                <h5 class="foot-head">Sign Up For Special offers</h5>
                                <li>
                                    <input type="text" placeholder="Email*" />
                                    <input type="text" placeholder="Zip code*" />
                                    <input type="button" class="btn btn-fork" value="Surprise Me" />
                                </li>
                            </ul>
                            <ul>
                                <h5 class="foot-head">Get to know us</h5>
                                <!--<div class="foot-dvdr"></div>-->
                                <li><a href="comingsoon.html">About Forkspot</a></li>
                                <li><a href="https://forkspot.com/blog/" target="_blank">Our Blog</a></li>
                                <li><a href="news.html" target="_blank">News</a></li>
                                <li><a href="mailto:invest@forkspot.com">Investor relations</a></li>
                                <li><a href="https://www.indeed.com/cmp/Forkspot" target="_blank">Careers</a></li>
                            </ul>

                        </div>
                        <div class="right-foot-nav">
                            <ul>
                                <h5>Partner with us</h5>
                               <!-- <div class="foot-dvdr"></div>-->
                                <li><a href="https://biz.forkspot.com" target="_blank">For restaurants</a></li>
                                <li><a href="https://biz.forkspot.com/login" target="_blank">Merchant Login</a></li>

                                <h5>Help</h5>
                                <!--<div class="foot-dvdr"></div>-->
                                <!--                            <li><a href="#">FAQ</a></li>-->
                                <li><a href="comingsoon.html">Contact Us</a></li>
                            </ul>
                            <ul class="social-sec">
                                <h5>Connect with us</h5>
                                <div class="foot-dvdr"></div>
                                <li><a class="facebook" href="https://www.facebook.com/forkspot" target="_blank">Facebook</a></li>
                                <li><a class="twitter" href="https://twitter.com/forkspot" target="_blank">Twitter</a></li>
                                <li><a class="instagram" href="https://www.instagram.com/forkspot/" target="_blank">Instagram</a></li>
                                <li><a class="youtube" href="https://www.youtube.com/channel/UC_vJWIgDtSAa7j2BOGFgEzw" target="_blank">YouTube</a></li>
                                <li><a class="product-hunt" href="https://www.producthunt.com/posts/forkspot" target="_blank">Product Hunt</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="foot-nav-mobile">
                   <div class="container">
                        <div class="mob-foot">
                           <h5>Sign Up For Special offers<span class=""></span></h5>
                           <ul>
                               <li>
                                  <input type="text" placeholder="Email*" />
                                  <input type="text" placeholder="Zip code*" />
                                  <input type="button" class="btn btn-fork" value="Surprise Me" />
                                </li>
                           </ul>

                        </div>
                        <div class="mob-foot">
                           <h5>Contact Us <span class=""></span></h5>
                           <ul>
                               <li>

                                </li>
                           </ul>

                        </div>
                        <div class="mob-foot">
                           <h5>Connect with us <span class=""></span></h5>
                           <ul>
                               <li><a class="facebook" href="https://www.facebook.com/forkspot" target="_blank">Facebook</a></li>
                              <li><a class="twitter" href="https://twitter.com/forkspot" target="_blank">Twitter</a></li>
                              <li><a class="instagram" href="https://www.instagram.com/forkspot/" target="_blank">Instagram</a></li>
                              <li><a class="youtube" href="https://www.youtube.com/channel/UC_vJWIgDtSAa7j2BOGFgEzw" target="_blank">YouTube</a></li>
                             <li><a class="product-hunt" href="https://www.producthunt.com/posts/forkspot" target="_blank">Product Hunt</a></li>
                           </ul>

                        </div>
                        <div class="mob-foot">
                           <h5>Partner with us <span class=""></span></h5>
                           <ul>
                                 <li><a href="https://biz.forkspot.com" target="_blank">For restaurants</a></li>
                                <li><a href="https://biz.forkspot.com/login" target="_blank">Marchant login</a></li>
                           </ul>

                        </div>
                      </div>
                </div>
                <div class="bot-strip">
                    <div class="container relateive">
                        <ul class="mobile-boot-tags clearfix">
                            <li><a href="https://biz.forkspot.com/privacy_policy" target="_blank">Privacy Policy</a></li>
                            <li><a href="https://biz.forkspot.com/terms" target="_blank">Terms of Service</a></li>
                        </ul>
                        <p>© 2017 Forkspot.  All Rights Reserved</p><p>Made with <span class="icon-heart"></span> in Los Angeles</p>
                        <ul class="desktop-boot-tags">
                            <li><a href="https://biz.forkspot.com/privacy_policy" target="_blank">Privacy Policy</a></li>
                            <li><a href="https://biz.forkspot.com/terms" target="_blank">Terms of Service</a></li>
                        </ul>
                    </div>
                </div>
                <a href="#" id="back-to-top" title="Back to top"><i class="icon-top_arrow"></i></a>
            </footer>
        </div>
      
        <div id="loader-sec" style="display:block">
            <div class="loader-img"><img src="images/fork_new.gif" alt="loader image"></div>
        </div>        
    </div>

        <!-- Login Popups -->
        <div data-pop="fork-login" class="fork-pop log-pop">
            <div class="fork-pop-header p-login-bar">
                <img src="images/logo.png" />
                <span class="close_model">X</span>
            </div>
            <span class="p-close p-res-close">x</span>
            <div class="pop-container">
                <h2 class="p-login-head text-center">Log In</h2>
                <div class="inp-log p-login-inp">
                    <div class="form-group">
                        <span class="icon-Email-Icon"></span>
                        <input type="text" placeholder="Email" />
                    </div>
                    <div class="form-group">
                        <span class="icon-Password-Icon"></span>
                        <input type="password" placeholder="Password" />
                    </div>
                    <div class="clearfix p-forgot-wrap"><a href="#" class="forgo-pass" data-attribute="fork-forgot-pass">Forgot Password ?</a></div>
                    <div class="p-login-btn">
                        <input class="btn btn-fork p-login" type="button" value="Log In" />
                        <div class="p-login-fb">
                            <i class="icon-facebook"></i>
                            <input class="btn btn-fork fb" type="button" value="Continue with Facebook" />
                        </div>
                    </div>

                    <p class="switch-to-pop">Don't have an account? <a data-attribute="fork-reg" href="javascript:void(0)">Create Your Account</a></p>
                </div>
            </div>
        </div>
        <div data-pop="fork-forgot-pass" class="fork-pop log-pop p-forgot-pop reg-pop">
            <div class="fork-pop-header p-login-bar">
                <img src="images/logo.png" />
                <span class="close_model">X</span>
            </div>
            <span class="p-close p-res-close">x</span>
            <div class="pop-container">
                <h2 class="p-login-head text-center">Forgot Password</h2>
                <div class="inp-log p-login-inp mar_bottom_35">
                    <div class="form-group">
                        <span class="icon-Email-Icon"></span>
                        <input type="text" placeholder="Email" />
                    </div>
                    <div class="p-login-btn">
                        <input class="btn btn-fork p-login" type="button" value="Reset Password" />                        
                    </div>
                </div>
            </div>
        </div>
        <div data-pop="fork-reg" class="fork-pop reg-pop p-signup-pop">
            <div class="fork-pop-header">
                <img src="images/logo.png" />
                <span class="close_model">X</span>
            </div>
            <span class="p-close p-res-close">x</span>
            <div class="pop-container">
                <h2 class="p-login-head text-center">Create Your Account</h2>
                
                <div class="p-signup-wrap">
                    <div class="p-login-fb">
                        <i class="icon-facebook"></i>
                        <input class="btn btn-fork fb" type="button" value="Sign up via Facebook">
                    </div>
                    <div class="p-login-fb">
                        <i class="icon-google-plus"></i>
                        <input class="btn btn-fork google-up" type="button" value="Sign up via Google">
                    </div>
                    <div class="text-center">
                        <span class="p-or-span">OR</span>
                    </div>
                </div>

                <div class="inp-log p-signup-form">
                    <div class="form-group half left">
                        <input type="text" placeholder="First Name" />
                    </div>
                    <div class="form-group half right">

                        <input type="text" placeholder="Last Name" />
                    </div>
                    <div class="form-group">
                        <span class="icon-Email-Icon"></span>
                        <input type="text" placeholder="Email" />
                    </div>
                    <div class="form-group">
                        <span class="icon-Password-Icon"></span>
                        <input type="password" placeholder="Password" />
                    </div>
                    <div class="form-group p-form-mar">
                        <span class="icon-Password-Icon"></span>
                        <input type="password" placeholder="Confirm Password" />
                    </div>
                    <div class="p-signup-btn"><input class="btn btn-fork" type="button" value="Create your Account" /></div>
                    
                    <p class="p-pop-txt">By tapping ‘CreateYour Account’ You agree to the Forkspot <a href="javascript:void(0)">Term of services</a> &amp; <a href="javascript:void(0)">Privacy Policy</a></p>
                    <p class="p-pop-txt">Already a Forkspot member?<a data-attribute="fork-login" class="st-log" href="javascript:void(0)"> Sign In</a></p>
                </div>
            </div>
        </div>
        <!-- Login Popups -->
</body>
</html>