<%- include('../partials/head'); %>
<body>
    <div class="pop-wrapper">
        <div class="main_warapper">
            <%- include('../partials/header'); %>            
            <section class="p-main-sec">
                <div class="p-top-head">                    
                    <div class="p-main-img-wrap">
                        <h1 class="p-main-head">Contact Us</h1>
                        <img src="images/contact-img.png">
                    </div>                    
                </div>
                <div class="p-contact-sec">
                    <div class="p-container">
                        <h2>How Can We Help You?</h2>
                        <h3>Our Customer Care Team is around to help.</h3>
                        <div class="p-contact-btn">
                            <button class="button">Chat With Us</button>
                            <button class="button">Call Us 1-855-367-5699</button>
                        </div>
                    </div>
                </div>
                <div class="p-answer-sec">
                    <div class="p-container">
                        <div class="p-answer-wrap">
                            <h2>Find Answers Fast</h2>
                            <div class="p-ans-list-wrap">
                                <ul class="p-answer-list">
                                    <li>
                                        <p class="p-ques">I have an issue with my order</p>
                                        <p class="p-desc">Missing an item, incorrect items, etc.</p>
                                        <div><button class="p-ans-btn">Let Us Know</button></div>
                                    </li>
                                    <li>
                                        <p class="p-ques">I have a random comment</p>
                                        <p class="p-desc">Suggestions, ideas,  etc.</p>
                                        <div><button class="p-ans-btn">Drop Us a Line</button></div>
                                    </li>
                                </ul>
                                <ul class="p-answer-list">
                                    <li>
                                        <p class="p-ques">I have question about charges</p>
                                        <p class="p-desc">Multiple charges, $1 charge, etc.</p>
                                        <div><button class="p-ans-btn">Get Answers</button></div>
                                    </li>
                                    <li>
                                        <p class="p-ques">I care about something else</p>
                                        <p class="p-desc">Suggestions, ideas,  etc.</p>
                                        <div><button class="p-ans-btn">See All Topics</button></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-query-sec">
                    <div class="p-container">
                        <div class="p-div-wrap">
                            <div class="p-query-wrap">
                                <p class="p-query">Still need help? Get in touch</p>
                                <p class="p-sol">We're here to help! Email us at <a class="p-blue-txt">info@forkspot.com</a> or call us on <a class="p-blue-txt">1-855-367-5699</a></p>
                                <p class="p-note">Please note we don't currently accept orders over the phone - so if you'd like to place an order, please place it online. The number above is for customer service enquiries only.</p>
                            </div>
                            <div class="p-division"></div>
                            <div class="p-query-wrap">
                                <p class="p-query">Media Enquiries</p>
                                <p class="p-sol">For quotes, interviews or other media requests, please email <a class="p-blue-txt">press@forkspot.com</a>.</p>
                                <p class="p-note">Unfortunately the press office doesn't have access to account information, so can't help with customer enquiries. Please call the customer service support number above.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <%- include('../partials/footer'); %>
           
        </div>
      
        <div id="loader-sec" style="display:block">
            <div class="loader-img"><img src="images/fork_new.gif" alt="loader image"></div>
        </div>        
    </div>

        <!-- Login Popups -->
        <div data-pop="fork-login" class="fork-pop log-pop">
            <div class="fork-pop-header p-login-bar">
                <img src="images/logo.png" />
                <span class="close_model">X</span>
            </div>
            <span class="p-close p-res-close">x</span>
            <div class="pop-container">
                <h2 class="p-login-head text-center">Log In</h2>
                <div class="inp-log p-login-inp">
                    <div class="form-group">
                        <span class="icon-Email-Icon"></span>
                        <input type="text" placeholder="Email" />
                    </div>
                    <div class="form-group">
                        <span class="icon-Password-Icon"></span>
                        <input type="password" placeholder="Password" />
                    </div>
                    <div class="clearfix p-forgot-wrap"><a href="#" class="forgo-pass" data-attribute="fork-forgot-pass">Forgot Password ?</a></div>
                    <div class="p-login-btn">
                        <input class="btn btn-fork p-login" type="button" value="Log In" />
                        <div class="p-login-fb">
                            <i class="icon-facebook"></i>
                            <input class="btn btn-fork fb" type="button" value="Continue with Facebook" />
                        </div>
                    </div>

                    <p class="switch-to-pop">Don't have an account? <a data-attribute="fork-reg" href="javascript:void(0)">Create Your Account</a></p>
                </div>
            </div>
        </div>
        <div data-pop="fork-forgot-pass" class="fork-pop log-pop p-forgot-pop reg-pop">
            <div class="fork-pop-header p-login-bar">
                <img src="images/logo.png" />
                <span class="close_model">X</span>
            </div>
            <span class="p-close p-res-close">x</span>
            <div class="pop-container">
                <h2 class="p-login-head text-center">Forgot Password</h2>
                <div class="inp-log p-login-inp mar_bottom_35">
                    <div class="form-group">
                        <span class="icon-Email-Icon"></span>
                        <input type="text" placeholder="Email" />
                    </div>
                    <div class="p-login-btn">
                        <input class="btn btn-fork p-login" type="button" value="Reset Password" />                        
                    </div>
                </div>
            </div>
        </div>
        <div data-pop="fork-reg" class="fork-pop reg-pop p-signup-pop">
            <div class="fork-pop-header">
                <img src="images/logo.png" />
                <span class="close_model">X</span>
            </div>
            <span class="p-close p-res-close">x</span>
            <div class="pop-container">
                <h2 class="p-login-head text-center">Create Your Account</h2>
                
                <div class="p-signup-wrap">
                    <div class="p-login-fb">
                        <i class="icon-facebook"></i>
                        <input class="btn btn-fork fb" type="button" value="Sign up via Facebook">
                    </div>
                    <div class="p-login-fb">
                        <i class="icon-google-plus"></i>
                        <input class="btn btn-fork google-up" type="button" value="Sign up via Google">
                    </div>
                    <div class="text-center">
                        <span class="p-or-span">OR</span>
                    </div>
                </div>

                <div class="inp-log p-signup-form">
                    <div class="form-group half left">
                        <input type="text" placeholder="First Name" />
                    </div>
                    <div class="form-group half right">

                        <input type="text" placeholder="Last Name" />
                    </div>
                    <div class="form-group">
                        <span class="icon-Email-Icon"></span>
                        <input type="text" placeholder="Email" />
                    </div>
                    <div class="form-group">
                        <span class="icon-Password-Icon"></span>
                        <input type="password" placeholder="Password" />
                    </div>
                    <div class="form-group p-form-mar">
                        <span class="icon-Password-Icon"></span>
                        <input type="password" placeholder="Confirm Password" />
                    </div>
                    <div class="p-signup-btn"><input class="btn btn-fork" type="button" value="Create your Account" /></div>
                    
                    <p class="p-pop-txt">By tapping ‘CreateYour Account’ You agree to the Forkspot <a href="javascript:void(0)">Term of services</a> &amp; <a href="javascript:void(0)">Privacy Policy</a></p>
                    <p class="p-pop-txt">Already a Forkspot member?<a data-attribute="fork-login" class="st-log" href="javascript:void(0)"> Sign In</a></p>
                </div>
            </div>
        </div>
        <!-- Login Popups -->
</body>
</html>