<%- include('../partials/head'); %>
<body>
    <div class="pop-wrapper">
        <div class="main_warapper">
            <%- include('../partials/header'); %>
                    <section class="pad_top_100 about-sec">
                <div class="container-inner">
                    <div class="flex flex-middle">
                    
                    <div class="p-right-sec mar_left_50">
                            <div class="device-sec animate-element">
                                <div class="touchslider">
                                    <div class="touchslider-viewport">
                                        <div>
                                            <div class="touchslider-item"><img src="images/banner-slide-img-1.png" alt=""></div>
                                            <div class="touchslider-item"><img src="images/banner-slide-img-2.png" alt=""></div>
                                            <div class="touchslider-item"><img src="images/banner-slide-img-3.png" alt=""></div>
                                            <div class="touchslider-item"><img src="images/banner-slide-img-4.png" alt=""></div>
                                            <div class="touchslider-item"><img src="images/banner-slide-img-5.png" alt=""></div>
                                            <div class="touchslider-item"><img src="images/banner-slide-img-6.png" alt=""></div>
                                            <div class="touchslider-item"><img src="images/banner-slide-img-7.png" alt=""></div>
                                            <div class="touchslider-item"><img src="images/banner-slide-img-8.png" alt=""></div>
                                        </div>
                                    </div>
                                </div>
                                <img src="images/banner_device_new.png" alt="">
                            </div>
                        </div>
                    
                        <div class="p-app-top">
                                <h1 class="p-app-head">Get the Forkspot app</h1>
                                <p class="p-app-sub-head">Order food on the go, wherever you are.</p>
                                <p class="p-app-para">Imagine an easy-to-use app that connects restaurants and food lovers together in a unique experience. At Forkspot, we are reinventing the way people discover and eat at restaurants, bars and coffee shops.</p>
                                <div class="p-send-app">
                                    <div class="p-app-inp-wrap">
                                        <input type="text" class="p-app-inp" placeholder="555-555-5555">
                                        <input type="button" class="p-app-btn" value="Text me the app">
                                    </div>
                                    <p>By entering your mobile phone number you agree to receive a download link, which may be sent by an autodialer. Text and data rates may apply.</p>
                                </div>
                                <div class="p-download-wrap">
                                    <a href="#" class="p-download">
                                        <i class="icon-appstore"></i>
                                        <div class="p-app-txt">
                                            <p>Available on the</p>
                                            <p>App Store</p>
                                        </div>
                                    </a>
                                    <a href="#" class="p-download">
                                        <i class="icon-play"></i>
                                        <div class="p-app-txt">
                                            <p>GET IT ON</p>
                                            <p>Google Play</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        
                    </div>
                </div>
            </section>
           

           
           
            <section class="how-it-work p-desk-sec">
                <div class="work-sequence container-inner">
                    <h1 class="text-center">How it Works</h1>
                    <div class="fork-steps">
                        <ul class="disc-tag-list">
                            <li class="animate-element step-list">
                                <h2>Discover</h2>
                                <span class="stepo-img discov">
                                    <img src="images/discover.png" />
                                </span>
                                <p>We will help you find hidden gems in your neighborhood.</p>
                            </li>
                            <li class="animate-element step-list">
                                <h2>Order</h2>
                                <span class="stepo-img order">
                                    <img src="images/explore.png" />
                                </span>
                                <p>The more you use Forkspot the better we are at making recommnedations just for you.</p>
                            </li>
                            <li class="animate-element step-list">
                                <h2>Enjoy</h2>
                                <span class="stepo-img plate">
                                    <img src="images/enjoy.png" />
                                </span>
                                <p>Enjoy each bite all the more knowing your order supports local businesses.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>

            <section class="p-res-slider">
                <h2 class="p-slide-main-head">How It Works</h2>
                <div class="flexslider p-flex-slider">
                    <ul class="slides">
                        <li>
                            <h3 class="p-slide-heading">Discover</h3>
                            <div class="p-slide-img">
                                <img src="images/discover.png" />
                            </div>
                            <p class="p-slide-txt">We will help you find hidden gems in your neighborhood.</p>
                        </li>
                        <li>
                            <h3 class="p-slide-heading">Order</h3>
                            <div class="p-slide-img">
                                <img src="images/explore.png" />
                            </div>
                            <p class="p-slide-txt">The more you use Forkspot the better we are at making recommnedations just for you.</p>
                        </li>
                        <li>
                            <h3 class="p-slide-heading">Enjoy</h3>
                            <div class="p-slide-img">
                                <img src="images/enjoy.png" />
                            </div>
                            <p class="p-slide-txt">Enjoy each bite all the more knowing your order supports local businesses.</p>
                        </li>
                    </ul>
                </div>
            </section>


            <section class="cities">
                <img src="images/buildings.png" />
                <div class="p-res-city">
                    <h3>Cities We Serve</h3>
                    <div class="p-city">
                        <div><span>Los Angeles</span></div>
                        <div><span>San Diego</span></div>
                    </div>
                </div>
                <div class="container-inner">
                    <div class="city-scape-content pad_left_100">
                        <h2 class="p-desk-city">Cities We Serve</h2>
                        <p class="cities p-desk-city">Los Angeles <span class="sep">|</span> San Diego</p>
                        <p class="para-content">Restaurants in Los Angeles and San Diego are falling in love with Forkspot, and quite honestly, we are falling in love with them too. More and more restaurants are signing up everyday. If we don’t have restaurants in your area, stay tuned we are coming to you very soon!</p>
                    </div>
                </div>
            </section>

            <section class="fork-web">
                <ul class="unstyle web-list-grid desktop-list clearfix">
                    <li class="refer-friend text-center">
                        <h1><span class="opta-white">Get $5</span> for every friend you refer</h1>
                        <p>Your friends get $5 off their first-time Forkspot order of $15+ and you get $5 off after their first order!</p>
                        <a hrefd="javascript:void(0)" class="btn btn-default">Refer a Fried</a>
                    </li>
                    <li class="our-blog text-center">
                        <div class="blog-on-fork">
                            <div class="area-blog-logo">
                                <img src="images/thespot.png">
                            </div>
                            <p class="text-center">Visit our blog and get the latest in discounts, app updates, and humorous subject lines!</p>
                            <a class="btn btn-fork vis-blog">Visit our Blog</a>
                        </div>
                    </li>
                    <li class="app-stores">
                        <div class="left-cont-area">
                            <h2 class="p-head mar_bottom_20">Get the<br /> Forkspot app</h2>
                            <h3 class="p-sub-head mar_bottom_20">Order food on the go, wherever you are.</h3>
                            <div class="p-bottom-store flex flex-wrap">
                                <a href="javascript:void(0)" class="p-store-wrap flex flex-middle">
                                    <i class="icon-appstore"></i>
                                    <div class="p-store-txt mar_left_25">
                                        <span>Available on the</span>
                                        <span>App Store</span>
                                    </div>
                                </a>
                                <a href="javascript:void(0)" class="p-store-wrap flex flex-middle mar_left_10">
                                    <i class="icon-play"></i>
                                    <div class="p-store-txt mar_left_25">
                                        <span>GET IT ON</span>
                                        <span>Google Play</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="right-cont-area">
                            <img src="images/phone.png" alt="">
                        </div>
                    </li>
                </ul>
                <div class="flexslider mobile-list">
                   <ul class="unstyle web-list-grid  clearfix slides">
                    <li class="refer-friend text-center">
                        <h1 class="p-first-head"><span class="opta-white">Get $5</span> for every friend you refer</h1>
                        <p class="p-first-para">Your friends get $5 off their first-time Forkspot order of $15+ and you get $5 off after their first order!</p>
                        <a hrefd="javascript:void(0)" class="btn btn-default">Refer a Fried</a>
                    </li>
                    <li class="our-blog text-center">
                        <div class="blog-on-fork">
                            <div class="area-blog-logo">
                                <img src="images/thespot.png">
                            </div>
                            <p class="text-center pad_left_20 pad_right_20">Visit our blog and get the latest in discounts, app updates, and humorous subject lines!</p>
                            <a class="btn btn-fork vis-blog">Visit our Blog</a>
                        </div>
                    </li>
                    <li class="app-stores">
                        <div class="left-cont-area">
                            <h2 class="p-head mar_bottom_20">Get the<br /> Forkspot app</h2>
                            <h3 class="p-sub-head mar_bottom_20">Order food on the go, wherever you are.</h3>
                            <div class="p-bottom-store flex flex-wrap">
                                <a href="javascript:void(0)" class="p-store-wrap flex flex-middle">
                                    <i class="icon-appstore"></i>
                                    <div class="p-store-txt mar_left_25">
                                        <span>Available on the</span>
                                        <span>App Store</span>
                                    </div>
                                </a>
                                <a href="javascript:void(0)" class="p-store-wrap flex flex-middle mar_left_30">
                                    <i class="icon-play"></i>
                                    <div class="p-store-txt mar_left_25">
                                        <span>GET IT ON</span>
                                        <span>Google Play</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="right-cont-area">
                            <img src="images/phone.png" alt="">
                        </div>
                    </li>
                </ul>
                </div>

            </section>

            <%- include('../partials/footer'); %>

        </div>
      
        <div id="loader-sec" style="display:block">
            <div class="loader-img"><img src="images/fork_new.gif" alt="loader image"></div>
        </div>


        
    </div>
        <!-- Login Popups -->
        <div data-pop="fork-login" class="fork-pop log-pop">
            <div class="fork-pop-header p-login-bar">
                <img src="images/logo.png" />
                <span class="close_model">X</span>
            </div>
            <span class="p-close p-res-close">x</span>
            <div class="pop-container">
                <h2 class="p-login-head text-center">Log In</h2>
                <div class="inp-log p-login-inp">
                    <div class="form-group">
                        <span class="icon-Email-Icon"></span>
                        <input type="text" placeholder="Email" />
                    </div>
                    <div class="form-group">
                        <span class="icon-Password-Icon"></span>
                        <input type="password" placeholder="Password" />
                    </div>
                    <div class="clearfix p-forgot-wrap"><a href="#" class="forgo-pass" data-attribute="fork-forgot-pass">Forgot Password ?</a></div>
                    <div class="p-login-btn">
                        <input class="btn btn-fork p-login" type="button" value="Log In" />
                        <div class="p-login-fb">
                            <i class="icon-facebook"></i>
                            <input class="btn btn-fork fb" type="button" value="Continue with Facebook" />
                        </div>
                    </div>

                    <p class="switch-to-pop">Don't have an account? <a data-attribute="fork-reg" href="javascript:void(0)">Create Your Account</a></p>
                </div>
            </div>
        </div>
        <div data-pop="fork-forgot-pass" class="fork-pop log-pop p-forgot-pop reg-pop">
            <div class="fork-pop-header p-login-bar">
                <img src="images/logo.png" />
                <span class="close_model">X</span>
            </div>
            <span class="p-close p-res-close">x</span>
            <div class="pop-container">
                <h2 class="p-login-head text-center">Forgot Password</h2>
                <div class="inp-log p-login-inp mar_bottom_35">
                    <div class="form-group">
                        <span class="icon-Email-Icon"></span>
                        <input type="text" placeholder="Email" />
                    </div>
                    <div class="p-login-btn">
                        <input class="btn btn-fork p-login" type="button" value="Reset Password" />                        
                    </div>
                </div>
            </div>
        </div>
        <div data-pop="fork-reg" class="fork-pop reg-pop p-signup-pop">
            <div class="fork-pop-header">
                <img src="images/logo.png" />
                <span class="close_model">X</span>
            </div>
            <span class="p-close p-res-close">x</span>
            <div class="pop-container">
                <h2 class="p-login-head text-center">Create Your Account</h2>
                
                <div class="p-signup-wrap">
                    <div class="p-login-fb">
                        <i class="icon-facebook"></i>
                        <input class="btn btn-fork fb" type="button" value="Sign up via Facebook">
                    </div>
                    <div class="p-login-fb">
                        <i class="icon-google-plus"></i>
                        <input class="btn btn-fork google-up" type="button" value="Sign up via Google">
                    </div>
                    <div class="text-center">
                        <span class="p-or-span">OR</span>
                    </div>
                </div>

                <div class="inp-log p-signup-form">
                    <div class="form-group half left">
                        <input type="text" placeholder="First Name" />
                    </div>
                    <div class="form-group half right">

                        <input type="text" placeholder="Last Name" />
                    </div>
                    <div class="form-group">
                        <span class="icon-Email-Icon"></span>
                        <input type="text" placeholder="Email" />
                    </div>
                    <div class="form-group">
                        <span class="icon-Password-Icon"></span>
                        <input type="password" placeholder="Password" />
                    </div>
                    <div class="form-group p-form-mar">
                        <span class="icon-Password-Icon"></span>
                        <input type="password" placeholder="Confirm Password" />
                    </div>
                    <div class="p-signup-btn"><input class="btn btn-fork" type="button" value="Create your Account" /></div>
                    
                    <p class="p-pop-txt">By tapping ‘CreateYour Account’ You agree to the Forkspot <a href="javascript:void(0)">Term of services</a> &amp; <a href="javascript:void(0)">Privacy Policy</a></p>
                    <p class="p-pop-txt">Already a Forkspot member?<a data-attribute="fork-login" class="st-log" href="javascript:void(0)"> Sign In</a></p>
                </div>
            </div>
        </div>
        <!-- Login Popups -->
        
        <div data-pop="welcome-screen" class="fork-pop log-pop">
            <div class="fork-pop-header p-login-bar">
                <img src="images/logo.png" />
                <span class="close_model">X</span>
            </div>
            <span class="p-close p-res-close">x</span>
            <div class="pop-container">
                <h2 class="p-login-head text-center">Welcome to Forkspot</h2>
                <div class="rhs blog-n-refer p-pop-form">
                    <div class="p-pop-inp">
                        <input type="button" value="Start Browsing">
                    </div>
                    <h1><span class="red">Get $5</span> for every <br>  friend you refer</h1>
                    <p>Your friends get $5 off their first-time Forkspot order of $15+ and you get $5 off after their first order!</p>
                    <ul class="social-share unstyle left full mar_bottom_20">
                        <li><a href="javascript:void(0)"><span class="icon-Email-Icon"></span></a></li>
                        <li><a href="javascript:void(0)"><span class="icon-Phone-Icon"></span></a></li>
                        <li><a href="javascript:void(0)"><span class="icon-facebook"></span></a></li>
                    </ul>
                    <div class="inp-log">
                        <div class="form-group left full">
                            <span class="icon-Email-Icon"></span>
                            <input type="text" placeholder="To">
                        </div>
                        <div class="form-group left full">
                            <span class="icon-Email-Icon"></span>
                            <input type="text" placeholder="From">
                        </div>
                        <input class="btn btn-fork referal-btn" type="button" value="Send" data-attribute="off-pop">
                        <div class="referallink clearfix">
                            <p class="text-center left full">And share your link wherever:</p>
                            <p class="text-center left full switch-to-pop"><a class="st-log" href="https://www.forkspot.com/ahfoyea.ahde">https://www.forkspot.com/ahfoyea.ahde</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Search Popup -->
        <div data-pop="p-search-pop" class="fork-pop">
            <span class="p-close p-res-close">x</span>
            <div class="p-search-wrap">
                <div class="p-search-inp-wrap mar_bottom_35">
                    <div class="p-search-inp mar_bottom_15">
                        <i class="icon-Address-Icon"></i>
                        <input type="text" placeholder="Street address, city, state">
                    </div>
                    <div class="p-search-inp">
                        <i class="icon-Search-Icon"></i>
                        <input type="text" placeholder="e.g. Sushi, Italian, John’s Pizza">
                    </div>
                </div>
                <div class="p-serch-btn pad_left_10 pad_right_10">
                    <input type="submit" value="Search">
                </div>
            </div>
        </div>
        <!-- Search Popup -->
        
        <!-- 5$ Popup -->
        <div data-pop="off-pop" class="fork-pop p-off-pop">
            <span class="p-off-cross p-close">x</span>
            <img src="images/p-pop-fork.png" class="p-fork-img">
            <div class="p-pop-main-wrap">
                <div class="p-off-form">
                    <p class="p-off-head">
                        <span>Get $5 OFF</span>
                        <span>your first order*</span>
                    </p>
                    <div class="p-off-inp">
                        <i class="icon-Email-Icon"></i>
                        <input type="text" placeholder="Email address">
                    </div>
                    <div class="p-off-inp">
                        <i class="icon-Address-Icon"></i>
                        <input type="text" placeholder="Zip Code">
                    </div>
                    <div class="p-off-btn">
                        <input type="button" value="Save $5 on your first order" data-attribute="off-pop-alt">
                    </div>
                    <p class="p-off-note">*Valid on first order only, for one-time use, subject to Forkspot’s verification. Can not be combined with other discounts. to redeem, enter code at checkout on forkspot.com or Forkspot’s/Android apps, with a valid credit card or PayPal, and $5 will be taken off of minimum order of $15, before tax, tip and delivery fee. Offer expires one (1) week from receipt. Cannot be combined with cash. Only valid on personal accounts. By sigining up, you agree to receive marketing and promotional emails and communications from Forkspot.</p>
                </div>
            </div>
        </div>

        <div data-pop="off-pop-alt" class="fork-pop p-off-pop p-off-pop-alt">
            <span class="p-off-cross p-close">x</span>
            <img src="images/p-pop-fork.png" class="p-fork-img">
            <div class="p-pop-main-wrap">
                <div class="p-off-form">
                    <p class="p-off-head">
                        <span>Get $5 OFF</span>
                        <span>your first order*</span>
                    </p>
                    <div class="p-off-inp">
                        <i class="icon-Email-Icon"></i>
                        <input type="text" placeholder="Email address">
                    </div>
                    <div class="p-off-inp">
                        <i class="icon-Address-Icon"></i>
                        <input type="text" placeholder="Zip Code">
                    </div>
                    <div class="p-off-btn">
                        <input type="button" value="Save $5 on your first order">
                    </div>
                    <p class="p-off-note">*Valid on first order only, for one-time use, subject to Forkspot’s verification. Can not be combined with other discounts. to redeem, enter code at checkout on forkspot.com or Forkspot’s/Android apps, with a valid credit card or PayPal, and $5 will be taken off of minimum order of $15, before tax, tip and delivery fee. Offer expires one (1) week from receipt. Cannot be combined with cash. Only valid on personal accounts. By sigining up, you agree to receive marketing and promotional emails and communications from Forkspot.</p>
                </div>
            </div>
        </div>
        <!-- 5$ Popup -->

    <script type="text/javascript">
        $(document).ready(function () {
            $("#testimonial-slider").owlCarousel({
                items: 1,
                itemsDesktop: [1000, 1],
                itemsDesktopSmall: [979, 1],
                itemsTablet: [767, 1],
                pagination: false,
                transitionStyle: "fade",
                navigation: true,
                navigationText: ["", ""],
                autoPlay: true
            });

            $("#flexiselDemo3").flexisel({
                visibleItems: 4,
                itemsToScroll: 1,
                autoPlay: {
                    enable: true,
                    interval: 3000,
                    pauseOnHover: true
                }
            });

           $('.flexslider').flexslider({
                animation: "slide"
              });
            // New instance of Wallop
            var slider = document.querySelector('.Wallop');
            new Wallop(slider, {
                carousel: false
            });
        });
    </script>

</body>
</html>