<% include include/head.ejs %>
<body>
    <div class="pop-wrapper">
        <div class="main_warapper">
            
            
            <% include include/header.ejs %>           
             <section class="pad_top_100 about-sec">
                <div class="container-inner">
                    <div class="flex flex-middle">
                        <div class="p-left-sec abt p-toggle-parent">
                            <h1 class="main-heading">What is Forkspot?</h1>
                            <p>Imagine an easy-to-use app that connects restaurants and food lovers together with a unique experience. At Forkspot, we are reinventing the way people discover and eat at restaurants, bars and coffee shops.
</p>
                            <p>As a consumer, you have access to real-time discounts the second you step into your favorite restaurant. Forkspot makes menu confusion a thing of the past with instant recommendations based on menu items that users love the most. Rest assured that all of our reviews come from real, authentic users that have been validated with Forkspot’s proximity technology.</p>
                            <p class="p-toggle">Currently, we have partnered with over 500 restaurants in Los Angeles and San Diego, California, to introduce proximity based ordering and discounts. Forkspot allows users to place discounted orders through our app. Our proximity network helps restaurants identify users and their orders the moment they walk-in to pick up their order. By pairing order information with a user’s Forkspot photo, in conjunction with the restaurant’s Forkspot tablet, restaurants can ensure a quick and easy experience for every meal that you eat. Imagine walking into a restaurant, and before you even cross the threshold, the server knows your name, your order, and exactly where to find you. Forkspot guarantees customer service and greater satisfaction with our out-of-the-box thinking and innovation. At Forkspot, every hour is happy hour!</p>
                            <div class="flex flex-center">
                                <div class="p-read-more p-toggle-click flex flex-column flex-middle">
                                    <span class="p-read-txt mar_bottom_5">Read More</span>
                                    <span class="p-down"></span>
                                </div>
                            </div>
                        </div>
                        <div class="p-right-sec mar_left_50">
                            <div class="device-sec animate-element">
                                <div class="touchslider">
                                    <div class="touchslider-viewport">
                                        <div>
                                            <div class="touchslider-item"><img src="images/banner-slide-img-1.png" alt=""></div>
                                            <div class="touchslider-item"><img src="images/banner-slide-img-2.png" alt=""></div>
                                            <div class="touchslider-item"><img src="images/banner-slide-img-3.png" alt=""></div>
                                            <div class="touchslider-item"><img src="images/banner-slide-img-4.png" alt=""></div>
                                        </div>
                                    </div>
                                </div>
                                <img src="images/banner_device_new.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- <section class="how-work-about p-about-desk">
                <div class="container-inner">
                    <div class="text-center how-work-abt">
                        <h1 class="text-center">How it Works</h1>
                        <img src="images/how-it-work.png" />
                    </div>
                </div>
            </section> -->
            <section class="workin-step clearfix p-about-desk">
                <div class="container-inner">
                    <div class="text-center half">
                        <img src="images/step1.png" />
                        <h2 class="text-center">Nearby Discounts</h2>
                        <p class="text-center">Saving money on meals is great. But do you really want to go through the hassle of printing out a coupon, or showing your server some cardboard cutout that someone hung on your door? We know that we don’t! That’s why Forkspot brings you real-time discounts the second you step into the restaurant. Not sure what to order? We’ve got you covered there too. Forkspot provides users with hot items on the menu that previous users have marked as top-notch. 
</p>
                    </div>
                    <div class="text-center half">
                        <img src="images/step2.png" />
                        <h2 class="text-center">Smart  Menu</h2>
                        <p>Smartphones, smart TV’s, smart refrigerators – what about smart menus?! Forkspot introduces endless possibilities that are right at your fingertips. Download the App today and make every hour your happy hour.</p>
                    </div>
                </div>
            </section>
            
            <section class="p-about-res">
                <h2 class="p-slide-head">How it Works</h2>
                <div class="flexslider">
                    <ul class="slides">
                        <li>
                            <div class="text-center p-img-wrap">
                                <img src="images/step1.png" alt="">
                            </div>
                            <h4 class="p-slide-sub-head">Nearby Discounts</h4>
                            <p class="p-slide-para">As a user, you have access to real-time discounts the second you step into your favorite restaurant. Menu confusion is also a thing of the past with instant recommendations based on menu items that users love the most. Plus, rest-assured that all of the reviews are authentic and real, because Forkspot uses iBeacons to validate reviews.</p>
                        </li>
                        <li>
                            <div class="text-center p-img-wrap">
                                <img src="images/step2.png" alt="">
                            </div>
                            <h4 class="p-slide-sub-head">Smart  Menu</h4>
                            <p class="p-slide-para">The possibilities are endless and they’re right at your fingertips. Download the Forkspot app today, because every hour is happy hour! The possibilities are endless and they’re right at your fingertips. Download the Forkspot app today, because every hour is happy hour!</p>
                        </li>
                    </ul>
                </div>
            </section>

            <section class="prb-solve clearfix p-prob-desk">
                <div class="container-inner">
                    <div class="left half">
                        <img src="images/problemwesolve.png" />
                    </div>
                    <div class="right half">
                        <h1>Problems<br /><span class="theme-color">We</span> Solve</h1>
                    </div> 
                </div>
            </section>
            <section class="problems p-prob-desk">
                <div class="container-inner">
                    <ul class="problem-list">
                        <li class="prb_one pink">
                            <span class="top-slik problem-one">01</span>
                            <div class="main-cont-inn">
                                <span class="problem"><i class="icon-discount"></i></span>
                                <span class="prob-title">Real Time Discounts </span>
                                <span class="prob-detailed">By having Forkspot on your phone, you will never miss restaurant discounts again. Your phone will instantly notify you if it finds a discount at your current location -- even if your Forkspot app is closed!
</span>
                            </div>
                        </li>
                        <li class="prb_one blue">
                            <span class="top-slik problem-one">02</span>
                            <div class="main-cont-inn">
                                <span class="problem"><i class="icon-review"></i></span>
                                <span class="prob-title">Reviews </span>
                                <span class="prob-detailed">Forkspot will also ask for your review once you leave the restaurant. No more fake reviews or reviews from strangers!
</span>
                            </div>
                        </li>
                        <li class="prb_one yellow">
                            <span class="top-slik problem-one">03</span>
                            <div class="main-cont-inn">
                                <span class="problem"><i class="icon-car"></i></span>
                                <span class="prob-title">Ride Sharing </span>
                                <span class="prob-detailed">Forkspot will automatically compare Lyft and Uber fares to any of our restaurants and will allow you to book the cheapest ride with the press of a button.</span>
                            </div>
                        </li>
                        <li class="prb_one greenish">
                            <span class="top-slik problem-one">04</span>
                            <div class="main-cont-inn">
                                <span class="problem"><i class="icon-star"></i></span>
                                <span class="prob-title">
                                    Instant
                                    Recommendations
                                </span>
                                <span class="prob-detailed">Forkspot will instantly show you most popular menu items liked by other visitors as soon as you walk into a restaurant. Forget asking servers “what’s the most popular pizza” and trying to figure out what to eat. Forkspot has got you covered. </span>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>

            <section class="p-prob-res">
                <h2 class="p-slide-head">Problems We Solve</h2>
                <div class="flexslider">
                    <ul class="slides">
                        <li>
                            <div class="p-top-num bg-red">
                                <span>01</span>
                            </div>
                            <div class="p-middle-sec">
                                <span><i class="icon-discount txt-red"></i></span>
                                <h4 class="p-heading txt-red">Real Time Discounts</h4>
                                <p class="p-para-bottom">By having Forkspot on your phone, you will never miss restaurant discounts again. Your phone will instantly notify you if it finds a discount at your current location -- even if your Forkspot app is closed!</p>
                            </div>
                            <div class="p-strip bg-red">
                            </div>
                        </li>
                        <li>
                            <div class="p-top-num bg-blue">
                                <span>02</span>
                            </div>
                            <div class="p-middle-sec">
                                <span><i class="icon-review txt-blue"></i></span>
                                <h4 class="p-heading txt-blue">Reviews</h4>
                                <p class="p-para-bottom">Forkspot will also ask for your review once you leave the restaurant. No more fake reviews or reviews from strangers!
</p>
                            </div>
                            <div class="p-strip bg-blue">
                            </div>
                        </li>
                        <li>
                            <div class="p-top-num bg-yellow">
                                <span>03</span>
                            </div>
                            <div class="p-middle-sec">
                                <span><i class="icon-car txt-yellow"></i></span>
                                <h4 class="p-heading txt-yellow">Ride Sharing</h4>
                                <p class="p-para-bottom">Forkspot will automatically compare Lyft and Uber fares to any of our restaurants and will allow you to book the cheapest ride with the press of a button.</p>
                            </div>
                            <div class="p-strip bg-yellow">
                            </div>
                        </li>
                        <li>
                            <div class="p-top-num bg-green">
                                <span>04</span>
                            </div>
                            <div class="p-middle-sec">
                                <span><i class="icon-star txt-green"></i></span>
                                <h4 class="p-heading txt-green">Instant Recommendations</h4>
                                <p class="p-para-bottom">Forkspot will instantly show you most popular menu items liked by other visitors as soon as you walk into a restaurant. Forget asking servers “what’s the most popular pizza” and trying to figure out what to eat. Forkspot has got you covered. </p>
                            </div>
                            <div class="p-strip bg-green">
                            </div>
                        </li>                 
                    </ul>
                </div>
            </section>

            <section class="media-hits">
                <div class="container-inner">
                    <div class="mh-heading">
                        <h1 class="text-center">Media-hits</h1>
                    </div>
                    <div class="demo">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-6 testo-play">
                                    <div id="testimonial-slider" class="owl-carousel">
                                        <div class="testimonial">
                                            <p class="description">
                                                Feast On Great Food And Great Deals Using
                                                Forkspot - KillerStartups.com
                                            </p>
                                            <a href="javascript:void(0)" class="btn btn-fork"> Read More</a>
                                        </div>
                                        <div class="testimonial">
                                            <p class="description">
                                                Various offers and get quality food Using
                                                Forkspot - KillerStartups.com
                                            </p>
                                            <a href="javascript:void(0)" class="btn btn-fork"> Read More</a>
                                        </div>
                                        <div class="testimonial">
                                            <p class="description">
                                                @Forkspot makes it easy for my coworkers and I to order food and get it to our office in a jiffy, Food!!
                                            </p>
                                            <a href="javascript:void(0)" class="btn btn-fork"> Read More</a>
                                        </div>
                                        <div class="testimonial">
                                            <p class="description">
                                                @Forkspot makes it easy for my coworkers and I to order food and get it to our office in a jiffy, Food!!
                                            </p>
                                            <a href="javascript:void(0)" class="btn btn-fork"> Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="company-timeline">
                <div class="container-inner righto dg-green-range orange-range clearfix">
                    <h2 class="company-timeline-heading"> Company Timeline</h2>
                    <div class="lhs-cont">
                        <div class="timeline-content">
                            <h2>Technology Development</h2>
                            <p>By October 2017, over 1000 restaurants, bars and, coffee shops have joined Forkspot. In December of 2017, Forkspot launched its food ordering platform and the restaurant tablet technology that streamlines the pickup and dine-in ordering process.</p>
                        </div>
                    </div>
                    <div class="partation"></div>
                    <div class="rhs-cont">
                        <span class="year-step">
                            <span class="year-count">
                                2017
                            </span>
                        </span>
                    </div>
                </div>
                <div class="container-inner lefto lg-green-range red-range clearfix">
                    <div class="lhs-cont">
                        <span class="year-step">
                            <span class="year-count">
                                2017
                            </span>
                        </span>
                    </div>
                    <div class="partation"></div>
                    <div class="rhs-cont">
                        <div class="timeline-content">
                            <h2>Expansion</h2>
                            <p>In February of 2017, Forkspot secured additional Series A funding from Capital Union Partners (Hong Kong), and opened its second market in San Diego, CA, with over 400 restaurants under its belt.</p>
                        </div>
                    </div>
                </div>
                <div class="container-inner righto dg-green-range clearfix">
                    <div class="lhs-cont">
                        <div class="timeline-content">
                            <h2>First Funding</h2>
                            <p>Forkspot secures its first Series A funding in January of 2017.</p>
                        </div>
                    </div>
                    <div class="partation"></div>
                    <div class="rhs-cont">
                        <span class="year-step">
                            <span class="year-count">
                                2017
                            </span>
                        </span>
                    </div>
                </div>


                <div class="container-inner lefto lg-green-range clearfix">
                    <div class="lhs-cont">
                        <span class="year-step">
                            <span class="year-count">
                                2016
                            </span>
                        </span>
                    </div>
                    <div class="partation"></div>
                    <div class="rhs-cont">
                        <div class="timeline-content">
                            <h2>Product Launched</h2>
                            <p>Forkspot mobile apps were launched in the iTunes and Google Play app stores in August 2016. 100 restaurants joined the Forkspot platform by the end of 2016.
</p>
                        </div>
                    </div>
                </div>
                <div class="container-inner righto yellow-range clearfix">
                    <div class="lhs-cont">
                        <div class="timeline-content">
                            <h2>Company Founded</h2>
                            <p>Forkspot was founded as a restaurant discounts app in December of 2015 by its founder Grigori Mikayelyan.</p>
                        </div>
                    </div>
                    <div class="partation"></div>
                    <div class="rhs-cont">
                        <span class="year-step">
                            <span class="year-count">
                                2015
                            </span>
                        </span>
                    </div>
                </div>
            </section>
            
            <% include include/footer.ejs %>
        </div>
        <a href="#" id="back-to-top" title="Back to top"><i class="icon-top_arrow"></i></a>
    </div>

        <!-- Login Popups -->
        <% include include/loginPopUp.ejs %>
        
        <!-- Login Popups -->

        <% include include/script.ejs %>

</body>
</html>