<% include include/head.ejs %>
<body>
    <div class="pop-wrapper">
        <div class="main_warapper">
            <% include include/header.ejs %>
            
            <section class="p-main-sec">
                <div class="p-top-head p-app-land">
                    <div class="p-container">
                        <div class="p-app-wrap">
                            <div class="p-app-img">
                                <img src="images/p-app-phone.png">
                            </div>
                            <div class="p-app-top">
                                <h1 class="p-app-head">Get the Forkspot app</h1>
                                <p class="p-app-sub-head">Order food on the go, wherever you are.</p>
                                <p class="p-app-para">Imagine an easy-to-use app that connects restaurants and food lovers together in a unique experience. At Forkspot, we are reinventing the way people discover and eat at restaurants, bars, and coffee shops.</p>
                                <div class="p-send-app">
                                    <div class="p-app-inp-wrap">
                                        <input type="text" class="p-app-inp" placeholder="555-555-5555">
                                        <input type="button" class="p-app-btn" value="Text me the app">
                                    </div>
                                    <p>By entering your mobile phone number you agree to receive a download link, which may be sent by an autodialer. Text and data rates may apply.</p>
                                </div>
                                <div class="p-download-wrap">
                                    <a href="#" class="p-download">
                                        <i class="icon-appstore"></i>
                                        <div class="p-app-txt">
                                            <p>Available on the</p>
                                            <p>App Store</p>
                                        </div>
                                    </a>
                                    <a href="#" class="p-download">
                                        <i class="icon-play"></i>
                                        <div class="p-app-txt">
                                            <p>Get It on</p>
                                            <p>Google Play</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>                
                </div>    

                <div class="p-app-mid">
                    <div class="p-container">
                        <ul class="p-app-info">
                            <li>
                                <div class="p-info-img">
                                    <img src="images/discount-graphic.png">
                                </div>
                                <div class="p-info-txt">
                                    <h3>Real Time Discounts</h3>
                                    <p>By having Forkspot on your phone, you will never miss restaurant discounts again. Your phone will instantly notify you if it finds a discount at your current location -- even if your Forkspot app is closed!</p>
                                </div>
                            </li>
                            <li>
                                <div class="p-info-img">
                                    <img src="images/reviews-grapic.png">
                                </div>
                                <div class="p-info-txt">
                                    <h3>Instant Recommendations</h3>
                                    <p>Forkspot will instantly show you most popular menu items liked by other visitors as soon as you walk into a restaurant. Forget asking servers “what’s the most popular pizza” and trying to figure out what to eat. Forkspot has got you covered. 
</p>
                                </div>
                            </li>
                            <li>
                                <div class="p-info-img">
                                    <img src="images/ride-graphic.png">
                                </div>
                                <div class="p-info-txt">
                                    <h3>Ride Sharing</h3>
                                    <p>Forkspot will automatically compare Lyft and Uber fares to any of our restaurants and will allow you to book the cheapest ride with the press of a button.</p>
                                </div>
                            </li>
                            <li>
                                <div class="p-info-img">
                                    <img src="images/recommendations-graphic.png">
                                </div>
                                <div class="p-info-txt">
                                    <h3>Reviews</h3>
                                    <p>Forkspot will also ask for your review once you leave the restaurant. No more fake reviews or reviews from strangers!
</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div> 

                <div class="p-app-bottom">
                    <div class="p-container">
                        <div class="p-land-wrap">
                            <div class="p-app-left">
                                <h4>Forkspot in your pocket</h4>
                                <p>Order food on the go, wherever you are.</p>
                                <div class="p-download-wrap">
                                    <a href="#" class="p-download">
                                        <i class="icon-appstore"></i>
                                        <div class="p-app-txt">
                                            <p>Available on the</p>
                                            <p>App Store</p>
                                        </div>
                                    </a>
                                    <a href="#" class="p-download">
                                        <i class="icon-play"></i>
                                        <div class="p-app-txt">
                                            <p>GET IT ON</p>
                                            <p>Google Play</p>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="p-app-right">
                                <img src="images/mobile.png">
                            </div>
                        </div>
                    </div>
                </div>           
            </section>
            <% include include/footer.ejs %>
        </div>
      
                
    </div>

        <!-- Login Popups -->
        <% include include/loginPopUp.ejs %>
        
        <!-- Login Popups -->

</body>
</html>