<% include include/head.ejs %>
  <body>
      <div class="main_warapper">
            <% include include/header.ejs %>
          <section class="comingsoon-sec">
              <div class="big-logo">
                  <img src="images/Forkspot_Logo_Big.png" alt="Forkspot">
              </div>
              <h1>Coming S<span>oo</span>n...</h1>
              <div class="go-home">
                  <a href="https://forkspot.com/demo/" class="btn">Go Back to Home</a>
              </div>
          </section>
          <% include include/footer.ejs %>
      </div>
      <div id="loader-sec" style="display:block">
          <div class="loader-img"><img src="images/fork_new.gif" alt="loader image"></div>
      </div>
  </body>
</html>