<% include include/head.ejs %>
<body>
    <div class="pop-wrapper">
        <div class="main_warapper">
            <% include include/header.ejs %>
            
            <section class="p-main-sec">
                <div class="p-top-head">                    
                    <div class="p-main-img-wrap">
                        <h1 class="p-main-head">Contact Us</h1>
                        <img src="images/contact-img.png">
                    </div>                    
                </div>
                <div class="p-contact-sec">
                    <div class="p-container">
                        <h2>How Can We Help You?</h2>
                        <h3>Our customer care team is dedicated to solving your problems and making your Forkspot experience impeccable. </h3>
                        <div class="p-contact-btn">
                            <button class="button">Chat With Us</button>
                            <button class="button">Call Us 1-855-367-5699</button>
                        </div>
                    </div>
                </div>
                <div class="p-answer-sec">
                    <div class="p-container">
                        <div class="p-answer-wrap">
                            <h2>Get Answers Fast</h2>
                            
                            <div class="p-ans-list-wrap">
                                <ul class="p-answer-list">
                                    <li>
                                        <p class="p-ques">I have an issue with my order</p>
                                        <p class="p-desc">Missing an item, wrong order, etc.</p>
                                        <div><button class="p-ans-btn">Let Us Know</button></div>
                                    </li>
                                    <li>
                                        <p class="p-ques">I have some ideas for Forkspot!</p>
                                        <p class="p-desc">Suggestions, feedback,  etc.</p>
                                        <div><button class="p-ans-btn">Drop Us a Line</button></div>
                                    </li>
                                </ul>
                                <ul class="p-answer-list">
                                    <li>
                                        <p class="p-ques">I have a question about a charge on my account</p>
                                        <p class="p-desc">Multiple charges, $1 charge, etc.</p>
                                        <div><button class="p-ans-btn">Get Answers</button></div>
                                    </li>
                                    <li>
                                        <p class="p-ques">I have something else on my mind</p>
                                        <p class="p-desc">Concerns, inquiries, etc.</p>
                                        <div><button class="p-ans-btn">See All Topics</button></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-query-sec">
                    <div class="p-container">
                        <div class="p-div-wrap">
                            <div class="p-query-wrap">
                                <p class="p-query">Still need help? Get in touch</p>
                                <p class="p-sol">We're here to help! Email us at <a class="p-blue-txt">info@forkspot.com</a> or call us on <a class="p-blue-txt">1-855-367-5699 and we will begin to assist you as soon as possible. </a></p>
                                <p class="p-note">Please note that we do not currently accept orders over the phone. If you would like to place an order, please use the Forkspot app to do so. The number listed above is for customer service inquiries only. </p>
                            </div>
                            <div class="p-division"></div>
                            <div class="p-query-wrap">
                                <p class="p-query">Media Enquiries</p>
                                <p class="p-sol">For quotes, interviews or other media requests, please email <a class="p-blue-txt">press@forkspot.com</a>.</p>
                                <p class="p-note">Unfortunately the press office doesn't have access to account information, so can't help with customer enquiries. Please call the customer service support number above.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <% include include/footer.ejs %>
        </div>
      
                
    </div>

        <!-- Login Popups -->
        <% include include/loginPopUp.ejs %>
        <!-- Login Popups -->
</body>
</html>