<% include include/head.ejs %>
<body>
    <div class="pop-wrapper">
        <div class="main_warapper">
            <% include include/header.ejs %>
            
            <section class="p-main-sec">
                <div class="p-top-head">                    
                    <div class="p-faq-main">
                        <img class="p-left-img" src="images/p-horn.png">
                        <img class="p-right-img" src="images/p-building.png">
                        <h1 class="p-faq-head">FAQ</h1>
                    </div>                    
                </div>
                <div class="p-tab-sec">
                    <div class="p-container">
                        <div class="p-tab-wrap">
                            <ul class="p-faq-tab" data-tab="faq-tab">
                                <li class="active">Customer</li>
                                <li>Merchant</li>
                            </ul>
                            <div class="p-faq-inp">
                                <i class="icon-Search-Icon"></i>
                                <input type="text">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-faq-sec">
                    <div class="p-container" data-tabdata="faq-tab">
                        <div>
                            <ul class="p-faq-list">
                                <li>
                                    <i class="icon-trolly"></i>
                                    <h5>My Order</h5>
                                    <p>Help with active and past orders</p>
                                    <a class="p-browse-link" href="#">Browse Articles</a>
                                </li>
                                <li>
                                    <i class="icon-bulb"></i>
                                    <h5>General</h5>
                                    <p>Getting started with Forkspot</p>
                                    <a class="p-browse-link" href="#">Browse Articles</a>
                                </li>
                                <li>
                                    <i class="icon-magnify"></i>
                                    <h5>Account</h5>
                                    <p>Help with your account settings</p>
                                    <a class="p-browse-link" href="#">Browse Articles</a>
                                </li>
                            </ul>
                            <div class="p-ques-wrap">
                                <h2>Frequently Asked Questions</h2>
                                <ul class="p-ques-list">
                                    <li>
                                        <p class="p-faq-ques active">How does Forkspot work?</p>
                                        <p>
First, restaurants near you create discounts on Forkspot. When you open your Forkspot app, you will see those discounts on your map. Next, it’s your decision to choose where you would like to eat based on the discounts and the type of food you are craving. Discounts will automatically pop up on your screen once you step into your favorite restaurant and have your Bluetooth and Location services enabled. Say goodbye to printed coupons, silly door hangers and anything else in between! 
</p>
                                    </li>
                                    <li>
                                        <p class="p-faq-ques">Does Forkspot work on both Apple and Android?</p>
                                        <p>

Yes, Forkspot runs on both iOS and Android operating systems.

</p>
                                    </li>
                                    <li>
                                        <p class="p-faq-ques">I am having problems with receiving discount notifications.  What can I do?</p>
                                        <p>
Forkspot requires both Bluetooth and Location access to detect your device and generate a discount coupon. Make sure that your Bluetooth is enabled and that you have given Forkspot permission to access your location. If you are still having problems, try restarting your Bluetooth. On iOS devices, navigate to Privacy/Location settings and set Forkspot to the “Always On” setting. This will allow your Forkspot app to detect discounts even if your app is closed.
</p>
                                    </li>
                                    
                                    <li>
                                        <p class="p-faq-ques">Who created Forkspot?</p>
                                        <p>
Forkspot was founded by its current CEO Grigori Mikayelyan, in December of 2015. Our headquarters are based in Los Angeles, California.
</p>
                                    </li>
                                    <li>
                                        <p class="p-faq-ques">How can I get Forkspot?</p>
                                        <p>You can download Forkspot on the iTunes or Google Play App Stores.</p>
                                    </li>
                                    
                                     <li>
                                        <p class="p-faq-ques">Can I download Forkspot for free?</p>
                                        <p>Yes! Forkspot is made for the users and it’s absolutely free.</p>
                                    </li>
                                    
                                     <li>
                                        <p class="p-faq-ques">Does Forkspot have a Privacy Policy?</p>
                                        <p>
Please view our Privacy Policy here to address any concerns you may have.
</p>
                                    </li>
                                    
                                     <li>
                                        <p class="p-faq-ques">Where can I get the latest version or update my Forkspot app ?</p>
<p>
When Forkspot releases a new update, users have two options. If your device automatically downloads app updates, Forkspot will be updated automatically. To update Forkspot manually, you may navigate to the App Store on iOS, or to Google Play on your Android device.
</p>
                                    </li>
                                    
                                     <li>
                                        <p class="p-faq-ques">Which version of Android operating system is compatible with Forkspot?</p>
                                        <p>Forkspot works with Android version 4.3 and later.</p>
                                    </li>
                                    
                                     <li>
                                        <p class="p-faq-ques">How do I sign up?</p>
                                        <p>Download the app, insert your email address, create a unique password and you are ready to go! Alternatively, you can sign up using your Google or Facebook account.</p>
                                    </li>
                                    
                                     <li>
                                        <p class="p-faq-ques">In what locations can I use Forkspot / in what towns?</p>
                                        <p>
Forkspot is currently available in Los Angeles and San Diego. However, we are expanding rapidly, so if you don’t see any restaurants in your city, let us know! Enter your email in the app and we'll notify you once Forkspot comes to your city.
</p>
                                    </li>
                                    
                                     <li>
                                        <p class="p-faq-ques">Can I place an order through Forkspot?</p>
                                        <p>Yes, you can place pickup or dine-in orders with discounts through Forkspot. Currently, we do not offer a delivery service.</p>
                                    </li>
                                    
                                     <li>
                                        <p class="p-faq-ques">Can I pay through Forkspot</p>
                                        <p>Yes! Forkspot users can pay for their dine-in or pickup orders directly through the app using a credit card.</p>
                                    </li>
                                    
                                     <li>
                                        <p class="p-faq-ques">Is it safe to register my credit card on Forkspot?</p>
                                        <p>Data security is of enormous importance to us. We use the strongest data encryption available on the market. We have also partnered with Braintree to securely process your transactions. See steps we take to safeguard your credit card information -- Read More</p>
                                    </li>
                                    
                                     <li>
                                        <p class="p-faq-ques">How do I change my credit card information?</p>
                                        <p>You can change your credit card information by navigating to the “Profile” page and then scrolling down to “My payment methods” section on your Forkspot app.</p>
                                    </li>
                                    
                                    <li>
                                        <p class="p-faq-ques">Can I accumulate reward points by using Forkspot?</p>
                                        <p>We are still perfecting the rewards system so that we can bring the best experience to our users. Sign up for our email list and we will let you know when you can start collecting reward points! </p>
                                    </li>
                                    
                                    <li>
                                        <p class="p-faq-ques">Can I upload a photo/picture on the app?</p>
                                        <p>Yes! Personalize your account under the “My Profile” section inside your Forkspot app. </p>
                                    </li>
                                    
                                    <li>
                                        <p class="p-faq-ques">I am having issues with resetting my password. What can I do?</p>
                                        <p>If your Forkspot password doesn’t work, try clicking on “Reset my password” when prompted. If you are still having problems logging into your account, please contact our support and we will be glad to help you reset your account’s password. </p>
                                    </li>
                                    
                                    
                                    
                                    <li>
                                        <p class="p-faq-ques">How do I check if there is a discount in my favorite restaurant?</p>
                                        <p>Simply search the name of your favorite restaurant in the Forkspot app. </p>
                                    </li>
                                    
                                    <li>
                                        <p class="p-faq-ques">How do I use the discount</p>
                                        <p>
To claim your Forkspot discount, simply present your discount coupon to your server and tell them that you are a Forkspot user.
 </p>
                                    </li>
                                    
                                    <li>
                                        <p class="p-faq-ques">Do I get a discount on my final check or on certain items</p>
                                        <p>Forkspot provides a discount on the final check, so there is no need to worry about ordering specific items.</p>
                                    </li>
                                    
                                    <li>
                                        <p class="p-faq-ques">Can I reuse my discount</p>
                                        <p>Yes. Every discount coupon is good for 6 hours. If you revisit the same restaurant after 6 hours, we will simply generate a new discount coupon, provided that the discount is still available.  </p>
                                    </li>
                                    
                                    <li>
                                        <p class="p-faq-ques">Can I get/combine multiple discounts?</p>
                                        <p>Discounts are provided on a per person basis to each person presenting Forkspot generated discounts to the restaurant or ordering food using Forkspot application. Groups of two or more people will receive the stated discount only if each member of the group presents their own discount to the restaurant. A Forkspot discounts cannot be combined with other coupons, deals, and promotions of greater value. </p>
                                    </li>
                                    
                                    <li>
                                        <p class="p-faq-ques">How do I order my food at the restaurant and how do I pre-order my food</p>
                                        <p>
Discount coupons, menus, and popular menu item recommendations will automatically show up on your phone after you walk-in. (Please note that your Bluetooth and Location must be on. You will also need to allow Forkspot to access your location. If you want discounts to be detected and generated automatically, you must set your Location services on “Always on” setting inside your Location Services settings). You can claim your coupon and pay the restaurant directly or you can pre-order. Pre-ordering on Forkspot is super easy. You can pre-order food with Forkspot discounts and pay for it using a credit card through your app, before going to your favorite restaurant. This feature will help you to save a bunch of time, especially during lunch or rush hour times. 
</p>
                                    </li>
                                    
                                    <li>
                                        <p class="p-faq-ques">I have pre-ordered my food, but I can’t pick up my order from the restaurant. What can I do?</p>
                                        <p>If you are not able to make it to the restaurant, simply contact the restaurant and ask them if they can cancel and refund your order. </p>
                                    </li>
                                    
                                      <li>
                                        <p class="p-faq-ques">How can I change and/or cancel my order?</p>
                                        <p>
You can use the contact option available in the application to contact the restaurant and change and/or cancel the order.
 </p>
                                    </li>
                                    
                                      
                                    
                                      <li>
                                        <p class="p-faq-ques">
How many minutes ahead ca I schedule an order?</p>
                                        <p>We advise scheduling an order at least 1:30 hours ahead of your arrival. </p>
                                    </li>
                                    
                                      <li>
                                        <p class="p-faq-ques">Can I send special instructions while placing an order?</p>
                                        <p>Yes, you can place an order with special instructions. If you have allergies for specific menu items, please include this in your order.  </p>
                                    </li>
                                    
                                     
                                  
                                    
                                </ul>
                            </div>
                        </div>
                        <div class="p-hide">
                            <ul class="p-faq-list">
                                <li>
                                    <i class="icon-trolly"></i>
                                    <h5>My Orders</h5>
                                    <p>Help with active and past orders</p>
                                    <a class="p-browse-link" href="#">Browse Articles</a>
                                </li>
                                <li>
                                    <i class="icon-bulb"></i>
                                    <h5>General</h5>
                                    <p>Getting started with Forkspot</p>
                                    <a class="p-browse-link" href="#">Browse Articles</a>
                                </li>
                                <li>
                                    <i class="icon-magnify"></i>
                                    <h5>Account</h5>
                                    <p>Help with your account settings</p>
                                    <a class="p-browse-link" href="#">Browse Articles</a>
                                </li>
                            </ul>
                            <div class="p-ques-wrap">
                                <h2>Frequently Asked Questions</h2>
                                <ul class="p-ques-list">
                                    <li>
                                        <p class="p-faq-ques active">How do I sign up for Forkspot as a Restaurant?</p>
                                        <p>Registering your restaurant is very simple, which can be done through our online platform. Please visit biz.forkspot.com, insert the name of your restaurant, your address, and press search. After performing a business search, you will see search results with business names and last found digits of business phone numbers. Find your business and press “Claim this business” button. Your business phone will receive an automatized call from our system and will give you a verification code, which you will have to enter into the “Enter code” section on your business phone verification page. After the verification process is completed, please follow the steps and fill out all of the required fields so that we may get your business listed on Forkspot. If for some reason you were able to find your restaurant name in the search results, click “Add your business to Forkspot” link and create a new business profile. 
</p>
                                    </li>
                                    <li>
                                        <p class="p-faq-ques">Why do I need to provide credit card information when signing up for a Forkspot account?</p>
                                        <p>Forkspot offers a revolutionary advertising/marketing platform, which is based on a pay-per-walk-in charge. Forkspot charges $0.50 cents per customer sent to your business using a Forkspot app. Forkspot requires a credit card to pay for walk-in fees and other advertising dues. Credit card is also required for Forkspot restaurant equipment security deposit purposes. 
</p>
                                    </li>
                                    <li>
                                        <p class="p-faq-ques">How safe it is to register the credit card with Forkspot</p>
                                        <p>Forkspot uses PCI-DSS (Payment Card Industry Data Security Standard). While this may sound complicated, it is quite simple and was developed by major credit card brands such as Visa, MasterCard, American Express and Discover. Being a PCI compliant obliges us to ensure account safety by adhering to the 12 PCI Data Security Standards. These standards include building and maintaining a secure network, protecting cardholder data, maintaining a vulnerability management program, implementing strong access control measures, regularly monitoring/testing networks, and maintaining an information security policy.
</p>
                                    </li>
                                    <li>
                                        <p class="p-faq-ques">What is the benefit of my restaurant to sign up with Forkspot</p>
                                        <p>Your restaurant will see several benefits after signing up to Forkspot. Restaurants love Forkspot since the app allows them to service more customers easily. Plus, Forkspot offers a truly one-of-a-kind “pay per walk-in” marketing platform, where a restaurant is being charged only if Forkspot generates foot traffic. As a restaurant you can create variable discounts, which will help you gain more customers during down times. By signing up to Forkspot, you gain access to thousands of potential customers near you.</p>
                                    </li>
                                    
                                     <li>
                                        <p class="p-faq-ques">What do I pay to sign up with Forkspot?</p>
                                        <p>There is no sign-up fee with Forkspot.</p>
                                    </li>
                                    
                                      <li>
                                        <p class="p-faq-ques">Is there an annual fee?</p>
                                        <p>Forkspot does not have an annual service fee. </p>
                                    </li>
                                    
                                      <li>
                                        <p class="p-faq-ques">Can I register multiple locations for my restaurant?</p>
                                        <p>Yes, you can add multiple locations to Forkspot. Please note that currently every location/account requires its own independent email address. Our engineers are working diligently to set up a ‘single-sign-on’ account access option. In the near future, one email will be sufficient for signing up and managing multiple locations.
 </p>
                                    </li>
                                    
                                      <li>
                                        <p class="p-faq-ques">How much do I pay to Forkspot for per-walk-in user?</p>
                                        <p>Our current rate is only $.50 per customer walk-in.</p>
                                    </li>
                                    
                                     
                                    
                                     <li>
                                        <p class="p-faq-ques">Where can I call for tech support?</p>
                                        <p>To address any technical or order related issues, please call our customer support at 855.367.5699</p>
                                    </li>
                                    
                                     <li>
                                        <p class="p-faq-ques">What is the minimum discount that a restaurant must provide?</p>
                                        <p>The minimum discount starts at 5%. The discount can be increased to any amount that you feel is reasonable for your customers. Forkspot also offers a state-of-the-art variable discounting system. With variable discounts, you can schedule to automatically increase or decrease your discount amounts depending on the time of the day or day of the week. You can run multiple discounts per day. For example: you can schedule to have a 5% discount from 9 am to 11 am and to increase your discount to15% at 3 pm. This will help your business gain more customers during down times.  </p>
                                    </li>
                                    
                                     <li>
                                        <p class="p-faq-ques">How will my company information be used?</p>
                                        <p>We use the information you provide us to enhance our functionality, improve the quality of our services, and to personalize your experience while using Forkspot. We also use this information to display relevant advertising, provide you with support, communicate with you, and to comply with our legal obligations. For more details, please visit our website and check the Privacy Policy section.
</p>
                                    </li>
                                    
                                     <li>
                                        <p class="p-faq-ques">How can I cancel my account with Forkspot?</p>
                                        <p>After signing up, your business will have a 90 day trial period. If you decide that you no longer want to continue using Forkspot after the trial period, you can terminate your account by calling (855) 367-5699 before the end of the free trial. Please note that we ask our restaurant partners to return the ibeacon devices, tablets and any other equipment undamaged and in a working condition. All the equipment should be returned by mail to 315 Arden Ave Suite 4 Glendale, CA 91203 within 7 business days of cancelation to avoid any charges.  

</p>
                                    </li>
                                    
                                    
                                    
                                     <li>
                                        <p class="p-faq-ques">How do I know how many per-walk-in customers my restaurant acquired? </p>
                                        <p>Forkspot offers a robust analytics and reporting inside your merchant panel. You can check the visitor’s statistics in your Forkspot account, under the Dashboard section. 
 
</p>
                                    </li>
                                    
                                      <li>
                                        <p class="p-faq-ques">We have changed our menu, what should we do?</p>
                                        <p>Our team uploads your menus when you sign up. If there are any changes or you are planning on changing your menu, you can request a menu edit through your Forkspot merchant account or through your order management tablet. Navigate to your merchant account, then go to the “Menu” section and you will be able to request changes in this section. If any questions occur, don’t hesitate to contact our restaurant support team at (855) 367-5699.

</p>
                                    </li>
                                    
                                      <li>
                                        <p class="p-faq-ques">Why should I have long discount hours?</p>
                                        <p>By providing discounts with longer hours, you are enabling your account to be visible to users for a longer period of time. We advise our customers to have the discount active for as long as possible so that more customers have the option of choosing your restaurant over your competitions. 

 
</p>
                                    </li>
                                    
                                        <li>
                                        <p class="p-faq-ques">Why can’t the user see my restaurant in the application?</p>
                                        <p>If you can’t see your restaurant in the “Nearby Discounts” section, you haven’t created any discounts yet, or your created discount is not active for that specific hour. Disabled discounts can also affect the visibility of your restaurant in the “Featured” section, if you are signed up for it. 

</p>
                                    </li>
                                    
                                        <li>
                                        <p class="p-faq-ques">Can we have discounts for specific items, instead of applying it on a full check?</p>
                                        <p>No. Users love Forkspot for our discounts. Forkspot discounts must be applicable to the full check, to ensure the highest rate of customer satisfaction. 

</p>
                                    </li>
                                    
                                       
                                    
                                    
                                       <li>
                                        <p class="p-faq-ques">How do I pay Forkspot Fees?</p>
                                        <p>Payments are collected on weekly basis, every Friday. There is a minimum threshold of $10. Once this amount is reached, Forkspot will notify you about the applicable weekly payment and will proceed with charging your credit card automatically. 

</p>
                                    </li>
                                    
                                       <li>
                                        <p class="p-faq-ques">Where can I learn about other advertising services provided by Forkspot?</p>
                                        <p>You can call us at our toll free number (855) 367-5699. We will be happy to discuss additional services. You may also email us at info@forkspot.com 
</p>
                                    </li>
                                    
                                       
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <% include include/footer.ejs %>
        </div>
      
                
    </div>

        <!-- Login Popups -->
        <% include include/loginPopUp.ejs %>
        <!-- Login Popups -->
</body>
</html>