<% include include/head.ejs %>
  <body>
      <div class="main_warapper">
        <% include include/header.ejs %>
          <section class="comingsoon-sec">
             <!-- <div class="big-logo">
                  <img src="images/Forkspot_Logo_Big.png" alt="Forkspot">
              </div>
              <h1>Coming S<span>oo</span>n...</h1>
              <div class="go-home">
                  <a href="https://forkspot.com/demo/" class="btn">Go Back to Home</a>
              </div>-->
             
              <div class="link_sec">
              
            <div class="container">
                 <div class="link_content">
                      <a href="https://www.killerstartups.com/startup-reviews/forkspot" target="_blank">Feast On Great Food And Great Deals Using Forkspot - KillerStartups.com</a>
                      <p>Receive on-demand discounts every time you walk into restaurants, bars, and coffee shops with the Forkspot app.</p>
                 </div>
                 <div class="link_content">
                    <a href="http://www.builtinla.com/2017/03/09/la-food-tech-startups" target="_blank">9 LA-based food tech startups you should know</a>
                    <p>Over the last several years, a number of companies have developed in the LA area dedicated to serving the food industry —
    helping businesses run more efficiently and helping consumers have the positive experience they desire.</p>
                 </div>
               </div>
          </div>
          </section>
          
          <% include include/footer.ejs %>
      </div>
      <div id="loader-sec" style="display:block">
          <div class="loader-img"><img src="images/fork_new.gif" alt="loader image"></div>
      </div>
  </body>
</html>