<% include include/head.ejs %>

    <body>
        <div class="pop-wrapper">
            <% include include/header.ejs %>
                <section class="dash-main-wrapper">
                    <% include include/menu.ejs %>
                        <div class="rhs-main-content">
                            <div class="blog-n-refer referal-main-page">
                                <h1>
                                    <span class="red">Get $5</span> for every
                                    <br> friend you refer</h1>
                                <p>Your friends get $5 off their first-time Forkspot order of $15+ and you get $5 off after
                                    their first order!</p>
                                <ul class="social-share unstyle left full">
                                    <li>
                                        <a href="javascript:void(0)">
                                            <span class="icon-Email-Icon"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">
                                            <span class="icon-Phone-Icon"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">
                                            <span class="icon-facebook"></span>
                                        </a>
                                    </li>
                                </ul>
                                <div class="inp-log">
                                    <div class="form-group left full">
                                        <span class="icon-Email-Icon"></span>
                                        <input type="text" placeholder="TO">
                                    </div>
                                    <div class="form-group left full">
                                        <span class="icon-Email-Icon"></span>
                                        <input type="text" placeholder="From">
                                    </div>
                                    <input class="btn btn-fork referal-btn" type="button" value="Send">
                                    <div class="referallink">
                                        <p class="text-center left full">And share your link wherever:</p>
                                        <p class="text-center left full ">
                                            <a class="st-log" href="https://www.forkspot.com/ahfoyea.ahde">https://www.forkspot.com/ahfoyea.ahde</a>
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                </section>
                <a href="#" id="back-to-top" title="Back to top">
                    <i class="icon-top_arrow"></i>
                </a>
                <!-- <div id="loader-sec" style="display:block">
            <div class="loader-img"><img src="images/fork_new.gif" alt="loader image"></div>
        </div> -->

                <!-- page loader start-->
                <div id="loader-sec" style="display:block">
                    <div class="box-loader-html">
                        <header class="fixed_header fs-header">
                            <div class="container">
                                <a class="logo" href="#">
                                    <img src="images/logo-gray.png" alt="Fork Spot">
                                </a>
                                <div class="topbar-actions">
                                    <span class="bag p-cart-slide">
                                        <i class="icon-Shopping-Bag-Icon"></i>
                                    </span>
                                </div>
                            </div>
                        </header>
                        <section class="dash-main-wrapper">
                            <div class="lhs-menu" style="z-index:99;">
                                <div class="box-loader__pavatar-row">
                                    <div class="box-loader__animation box-loader__profile-avatar"></div>
                                    <div class="box-loader__animation box-loader__pavatar-name"></div>
                                </div>
                                <div class="box-loader__menu-wrap">
                                    <div class="box-loader__menu-row">
                                        <div class="box-loader__menu-icon box-loader__animation"></div>
                                        <div class="box-loader__menu-name box-loader__animation"></div>
                                    </div>
                                    <div class="box-loader__menu-row">
                                        <div class="box-loader__menu-icon box-loader__animation"></div>
                                        <div class="box-loader__menu-name box-loader__animation"></div>
                                    </div>
                                    <div class="box-loader__menu-row">
                                        <div class="box-loader__menu-icon box-loader__animation"></div>
                                        <div class="box-loader__menu-name box-loader__animation"></div>
                                    </div>
                                    <div class="box-loader__menu-row">
                                        <div class="box-loader__menu-icon box-loader__animation"></div>
                                        <div class="box-loader__menu-name box-loader__animation"></div>
                                    </div>
                                    <div class="box-loader__menu-row">
                                        <div class="box-loader__menu-icon box-loader__animation"></div>
                                        <div class="box-loader__menu-name box-loader__animation"></div>
                                    </div>
                                    <div class="box-loader__menu-row">
                                        <div class="box-loader__menu-icon box-loader__animation"></div>
                                        <div class="box-loader__menu-name box-loader__animation"></div>
                                    </div>
                                    <div class="box-loader__menu-row">
                                        <div class="box-loader__menu-icon box-loader__animation"></div>
                                        <div class="box-loader__menu-name box-loader__animation"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="rhs-main-content">
                                <div class="blog-n-refer referal-main-page">
                                    <div class="box-loading__referal">
                                        <div class="box-loading__referal-row">
                                            <div class="box-loader__animation box-loading__referal-heading"></div>
                                            <div class="box-loader__animation box-loading__referal-heading"></div>
                                        </div>
                                        <div class="box-loading__referal-row">
                                            <div class="box-loader__animation box-loading__referal-content1"></div>
                                            <div class="box-loader__animation box-loading__referal-content2"></div>
                                        </div>
                                        <div class="box-loading__referal-mediarow">
                                            <div class="box-loader__animation box-loading__referal-media"></div>
                                            <div class="box-loader__animation box-loading__referal-media"></div>
                                            <div class="box-loader__animation box-loading__referal-media"></div>
                                        </div>
                                        <div class="box-loader__referal-formrow">
                                            <div class="box-loader__referal-form">
                                                <div class="box-loader__animation box-loader__referal-formicon"></div>
                                            </div>
                                            <div class="box-loader__referal-form">
                                                <div class="box-loader__animation box-loader__referal-formicon"></div>
                                            </div>
                                            <div class="box-loader__animation box-loader__referal-button"></div>
                                        </div>
                                        <div class="box-loading__referal-row">
                                            <div class="box-loader__animation box-loading__referal-content2"></div>
                                            <div class="box-loader__animation box-loading__referal-content1"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <!-- page loader end-->

        </div>
        <script type="text/javascript">
            $(document).ready(function () {
                $("#testimonial-slider").owlCarousel({
                    items: 1,
                    itemsDesktop: [1000, 1],
                    itemsDesktopSmall: [979, 1],
                    itemsTablet: [767, 1],
                    pagination: false,
                    transitionStyle: "fade",
                    navigation: true,
                    navigationText: ["", ""],
                    autoPlay: true
                });

                $("#flexiselDemo3").flexisel({
                    visibleItems: 3,
                    itemsToScroll: 1,
                    autoPlay: {
                        enable: true,
                        interval: 1000000,
                        pauseOnHover: true
                    }
                });
                $("#flexiselDemo4").flexisel({
                    visibleItems: 3,
                    itemsToScroll: 1,
                    autoPlay: {
                        enable: true,
                        interval: 1000000,
                        pauseOnHover: true
                    }
                });
                $("#flexiselDemo5").flexisel({
                    visibleItems: 2,
                    itemsToScroll: 1,
                    autoPlay: {
                        enable: true,
                        interval: 1000000,
                        pauseOnHover: true
                    }
                });
                // New instance of Wallop
                var slider = document.querySelector('.Wallop');
                new Wallop(slider, {
                    carousel: false
                });
            });
        </script>

    </body>

    </html>