
<% include include/head.ejs %>
<body>
    <div class="pop-wrapper">
        <div class="main_warapper">
         <% include include/header.ejs %>
            
            <section class="p-main-sec">
                <!-- <div class="p-top-head">                    
                    <div class="p-review-main">
                        <img class="p-review-img" src="images/review-chat.png">
                        <h1 class="p-faq-head">Reviews</h1>
                    </div>                    
                </div> -->
                <div class="p-review-sec">
                    <div class="p-container">
                        <div class="p-rev-form">
                            
                            <ul class="p-question-list">
                                <li>
                                    <div class="p-form-head flex flex-sp-btw flex-middle">
                                        <h3 class="p-head-txt">Rate and Review Brand On Tavern</h3>
                                        <span class="p-time-txt">Ordered 2 days ago</span>
                                    </div>
                                    <div class="p-form-mid">
                                        <p class="p-form-ques">Was your order completed on-time?</p> 
                                    </div>
                                    <div class="p-form-bottom">
                                        <div class="p-form-btn-wrap">
                                            <button class="p-form-btn p-next-ques">Yes</button>
                                            <button class="p-form-btn p-second p-next-ques">No</button>
                                        </div>
                                        <div class="p-skip-wrap">
                                            <span class="p-skip-txt p-next-ques">Skip this question</span>
                                        </div>
                                    </div>                                
                                </li>
                                <li>
                                    <div class="p-form-head flex flex-sp-btw flex-middle">
                                        <h3 class="p-head-txt">Rate and Review Brand On Tavern</h3>
                                        <span class="p-time-txt">Ordered 2 days ago</span>
                                    </div>
                                    <div class="p-form-mid">
                                        <p class="p-form-ques">Are you satisfied with the food?</p> 
                                    </div>
                                    <div class="p-form-bottom">
                                        <div class="p-form-btn-wrap">
                                            <button class="p-form-btn p-next-ques">Yes</button>
                                            <button class="p-form-btn p-second p-next-ques">No</button>
                                        </div>
                                        <div class="p-skip-wrap">
                                            <span class="p-skip-txt p-next-ques">Skip this question</span>
                                        </div>
                                    </div>                                  
                                </li>
                                <li>
                                    <div class="p-form-head flex flex-sp-btw flex-middle">
                                        <h3 class="p-head-txt">Rate and Review Brand On Tavern</h3>
                                        <span class="p-time-txt">Ordered 2 days ago</span>
                                    </div>
                                    <div class="p-form-mid">
                                        <p class="p-form-ques">Do you like their customer service?</p> 
                                    </div>
                                    <div class="p-form-bottom">
                                        <div class="p-form-btn-wrap">
                                            <button class="p-form-btn p-next-ques">Yes</button>
                                            <button class="p-form-btn p-second p-next-ques">No</button>
                                        </div>
                                        <div class="p-skip-wrap">
                                            <span class="p-skip-txt p-next-ques">Skip this question</span>
                                        </div>
                                    </div>                                 
                                </li>
                                <li>
                                    <div class="p-form-head flex flex-sp-btw flex-middle">
                                        <h3 class="p-head-txt">Rate and Review Brand On Tavern</h3>
                                        <span class="p-time-txt">Ordered 2 days ago</span>
                                    </div>
                                    <div class="p-form-mid">
                                        <p class="p-form-ques">Was your order correct?</p> 
                                    </div>
                                    <div class="p-form-bottom">
                                        <div class="p-form-btn-wrap">
                                            <button class="p-form-btn p-next-ques">Yes</button>
                                            <button class="p-form-btn p-second p-next-ques">No</button>
                                        </div>
                                        <div class="p-skip-wrap">
                                            <span class="p-skip-txt p-next-ques">Skip this question</span>
                                        </div>
                                    </div>                               
                                </li>
                                <li>
                                    <div class="p-form-head flex flex-sp-btw flex-middle">
                                        <h3 class="p-head-txt">Rate and Review Brand On Tavern</h3>
                                        <span class="p-time-txt">Ordered 2 days ago</span>
                                    </div>
                                    <div class="p-form-mid">
                                        <p class="p-form-ques">Will you order from Conrad's Restaurant again?</p> 
                                    </div>
                                    <div class="p-form-bottom">
                                        <div class="p-form-btn-wrap">
                                            <button class="p-form-btn p-next-ques">Yes</button>
                                            <button class="p-form-btn p-second p-next-ques">No</button>
                                        </div>
                                        <div class="p-skip-wrap">
                                            <span class="p-skip-txt p-next-ques">Skip this question</span>
                                        </div>
                                    </div>                                 
                                </li>
                                <li>
                                    <div class="p-form-head flex flex-sp-btw flex-middle">
                                        <h3 class="p-head-txt">Rate and Review Brand On Tavern</h3>
                                        <span class="p-time-txt">Ordered 2 days ago</span>
                                    </div>
                                    <div class="p-form-mid">
                                        <p class="p-form-ques mar_bottom_25">Would you recommend<br>these items to others?</p> 
                                        <ul class="p-item-list">
                                            <li>
                                                <label class="p-checkbox">
                                                    <input type="checkbox" name="" checked="checked">
                                                    <span class="p-check">                                                        
                                                    </span>
                                                    <span class="p-txt">Breakfast Burrito</span>
                                                </label>
                                            </li>
                                            <li>
                                                <label class="p-checkbox">
                                                    <input type="checkbox" name="" checked="checked">
                                                    <span class="p-check">                                                        
                                                    </span>
                                                    <span class="p-txt">Fish Tacos</span>
                                                </label>
                                            </li>
                                            <li>
                                                <label class="p-checkbox">
                                                    <input type="checkbox" name="" checked="checked">
                                                    <span class="p-check">                                                        
                                                    </span>
                                                    <span class="p-txt">Texas Burger</span>
                                                </label>
                                            </li>
                                            <li>
                                                <label class="p-checkbox">
                                                    <input type="checkbox" name="" checked="checked">
                                                    <span class="p-check">                                                        
                                                    </span>
                                                    <span class="p-txt">NY Steak</span>
                                                </label>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="p-form-bottom">
                                        <div class="p-form-btn-wrap">
                                            <button class="p-form-btn p-next-ques">Yes</button>
                                            <button class="p-form-btn p-second p-next-ques">No</button>
                                        </div>
                                        <div class="p-skip-wrap">
                                            <span class="p-skip-txt p-next-ques">Skip this question</span>
                                        </div>
                                    </div>                               
                                </li>
                                <li>
                                    <div class="p-form-head flex flex-sp-btw flex-middle">
                                        <h3 class="p-head-txt">Rate and Review Brand On Tavern</h3>
                                        <span class="p-time-txt">Ordered 2 days ago</span>
                                    </div>
                                    <div class="p-form-mid">
                                        <p class="p-form-ques">Would you recommend<br><span class="p-blue">Breakfast Burrito</span> to others?</p> 
                                    </div>
                                    <div class="p-form-bottom">
                                        <div class="p-form-btn-wrap">
                                            <button class="p-form-btn p-next-ques">Yes</button>
                                            <button class="p-form-btn p-second p-next-ques">No</button>
                                        </div>
                                        <div class="p-skip-wrap">
                                            <span class="p-skip-txt p-next-ques">Skip this question</span>
                                        </div>
                                    </div>                                
                                </li>
                                <li>
                                    <div class="p-form-head flex flex-sp-btw flex-middle">
                                        <h3 class="p-head-txt">Rate and Review Brand On Tavern</h3>
                                        <span class="p-time-txt">Ordered 2 days ago</span>
                                    </div>
                                    <div class="p-form-mid">
                                        <p class="p-form-ques mar_bottom_20">Rate your overall experience</p> 
                                        <div class="p-star-list mar_bottom_30 p-star-inp">
                                            <input type="radio" name="p-star" id="p-star-5">
                                            <label for="p-star-5"><i class="fa fa-star"></i></label>
                                            <input type="radio" name="p-star" id="p-star-4">
                                            <label for="p-star-4"><i class="fa fa-star"></i></label>
                                            <input type="radio" name="p-star" id="p-star-3" checked="checked">
                                            <label for="p-star-3"><i class="fa fa-star"></i></label>
                                            <input type="radio" name="p-star" id="p-star-2">
                                            <label for="p-star-2"><i class="fa fa-star"></i></label>
                                            <input type="radio" name="p-star" id="p-star-1">
                                            <label for="p-star-1"><i class="fa fa-star"></i></label>
                                        </div>
                                        <div class="p-textarea-wrap p-star-show">
                                            <p class="p-review-line mar_bottom_5">Great! Write a review and help others who might order from here.</p>
                                            <textarea class="p-review-area mar_bottom_10" placeholder="Write a review (optional)"></textarea>
                                            <div class="flex flex-middle">
                                                <!-- <a href="#" class="p-guide">Review guidlines</a> -->
                                                <span class="p-rem-txt flex-ml-auto">3000 characters remaining</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="p-form-bottom">
                                        <div class="p-form-btn-wrap">
                                            <button class="p-form-btn p-next-ques">Submit Rating &amp; Review</button>
                                        </div>
                                    </div>                                
                                </li>
                            </ul>                            
                        </div>
                    </div>
                </div>
            </section>

            <% include include/footer.ejs %>     
        </div>
      
        <div id="loader-sec" style="display:block">
            <div class="loader-img"><img src="images/fork_new.gif" alt="loader image"></div>
        </div>        
    </div>

       <!-- Login Popups -->
       <% include include/loginPopUp.ejs %>
       <!-- Login Popups -->
</body>
</html>