
<% include include/head.ejs %>
  <body>
      <div class="main_warapper">
          <section class="comingsoon-sec">
             <div class="Thanks_sec">
               <div class="container">
                  <div class="Thanks_img">
                     <img src="images/banner_bg_dark2.png">
                  </div>
                  <div class="Thanks_content">
                      <h1>Thank you for contacting us</h1>
                      <p>We will get back to you as quickly as possible!</p>
                  </div>
               </div>
             </div>
             
              
          </section>
          <% include include/footer.ejs %>
      </div>
      <div id="loader-sec" style="display:block">
          <div class="loader-img"><img src="images/fork_new.gif" alt="loader image"></div>
      </div>
  </body>
</html>