<% include include/head.ejs %>
<body>
    <div class="main_warapper">
            <% include include/header.ejs %>
        <section class="Thanks_order mt100">
            <div class="Thanks_sec">
                <div class="container">
                    <div class="order-confirmation-thanks text-center">
                        <h2>Thank you for Ordering</h2>
                        <p>Your delivery ETA is from 2:00 - 2:15pm. When Tavern On Brand confirms, we’ll send an order number. </p>
                        <a href="track-order.html" class="btn btn-fork traco-btn" >Track Your Order </a>
                    </div>
                </div>
            </div>
            <div class="main-content-ordo container">
                <div class=" about-ord">
                    <div class="order-form-deatils half left bg-secondary">
                        <h3>Ordered From</h3>
                        <h2>Tavern On Brand</h2>
                        <span class="full left">(818) 555-5555</span>
                        <span class="full left adrr">208 N Brand Blvd, Glendale, CA 91203</span>
                        <div class="ord-sect left full">
                            <ul class="unstyle card-added full left unstyle no-pad">
                                <li class="full left">
                                    <div class="adr"><span class="icon-Credit-Card-Icon"></span><p>xxx-xxx-xxx-9999</p></div>
                                    <div class="ph-no card-exp"><p>Exp. 11/20</p></div>
                                    <div class="action item-amt right">$6.50</div>
                                </li>
                                <li class="full left">
                                    <div class="adr"><span class="icon-Credit-Card-Icon"></span><p>xxx-xxx-xxx-9999</p></div>
                                    <div class="ph-no card-exp"><p>Exp. 11/20</p></div>
                                    <div class="action item-amt right">$7.90</div>
                                </li>

                            </ul>
                        </div>
                        <div class="receipt-area left bg-secondary">
                            <ul class="recipt-listing unstyle no-pad full left">
                                <li class="left full">
                                    <span class="itm-count left">1</span>
                                    <span class="itm-disc left"><span class="left full"><strong>Caesar Salad</strong></span><span>Balsamic Dressing <br />Add Chicken</span></span>
                                    <span class="item-price right">$7.89</span>
                                </li>
                                <li class="left full">
                                    <span class="itm-count left">1</span>
                                    <span class="itm-disc left"><span class="left full"><strong>Caesar Salad</strong></span><span>Balsamic Dressing <br />Add Chicken</span></span>
                                    <span class="item-price right">$7.89</span>
                                </li>
                            </ul>
                            <ul class="sub-total unstyle left full">
                                <li class="left full"><span class="item-norm left">ItemSubtotal:</span><span class="itm-rate right">$15.00</span></li>
                                <li class="left full"><span class="item-norm left">Sales Tax:</span><span class="itm-rate right">$2.66</span></li>
                                <li class="left full"><span class="item-norm left">Discount-Applied-15</span><span class="itm-rate right">$5.66</span></li>
                                <li class="left full"><span class="item-norm left">Tip-Amount-15</span><span class="itm-rate right">$3.66</span></li>

                                <li class="left full sub-total-uts"><span class="item-norm left">Total</span><span class="itm-rate right">$25.66</span></li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="rhs blog-n-refer">
                    <h1><span class="red">Get $5</span> for every friend you refer</h1>
                    <p>Your friends get $5 off their first-time Forkspot order of $15+ and you get $5 off after their first order!</p>
                    <ul class="social-share unstyle left full">
                        <li><a href="javascript:void(0)"><span class="icon-Email-Icon"></span></a></li>
                        <li><a href="javascript:void(0)"><span class="icon-Phone-Icon"></span></a></li>
                        <li><a href="javascript:void(0)"><span class="icon-facebook"></span></a></li>
                    </ul>
                    <div class="inp-log">
                        <div class="form-group left full">
                            <span class="icon-Email-Icon"></span>
                            <input type="text" placeholder="TO">
                        </div>
                        <div class="form-group left full">
                            <span class="icon-Email-Icon"></span>
                            <input type="text" placeholder="From">
                        </div>
                        <input class="btn btn-fork referal-btn" type="button" value="Send">
                        <div class="referallink">
                            <p class="text-center left full">And share your link wherever:</p>
                            <p class="text-center left full switch-to-pop"><a class="st-log" href="https://www.forkspot.com/ahfoyea.ahde">https://www.forkspot.com/ahfoyea.ahde</a></p>
                        </div>
                    </div>
                    <div class="blog-area">
                        <div class="area-blog-logo">
                            <img src="images/thespot.png" />
                        </div>
                        <p class="text-center">Visit our blog and get the latest in discounts, app updates, and humorous subject lines!</p>
                        <a class="btn btn-fork vis-blog">Visit our Blog</a>
                    </div>
                </div>
            </div>
        </section>

        <% include include/footer.ejs %>
    </div>
        <div id="loader-sec" style="display:block">
        <div class="loader-img">
        <img src="images/fork_new.gif" alt="loader image">
        </div>
        </div>
</body>
</html>