<div class="lhs-menu">
    <ul class="menu-items">
        <li class="profile">
            <span class="profile-pic">
                <img src="<%=profileImage%>" />
            </span>
            <span class="user-name">
                <%=username%>
            </span>
        </li>
        <li>
            <a href="featured">
                <i class="icon-award"></i>
                <span>Featured</span>
            </a>
        </li>
        <li>
            <a href="profile">
                <i class="icon-Profile-Icon"></i>
                <span>Profile</span>
            </a>
        </li>
        <li>
            <a href="address">
                <i class="icon-Address-Icon"></i>
                <span>Address</span>
            </a>
        </li>
        <li>
            <a href="paymentMethods">
                <i class="icon-Credit-Card-Icon"></i>
                <span>Payments</span>
            </a>
        </li>
        <li>
            <a href="orders">
                <i class="icon-Orders-Icons"></i>
                <span>Orders</span>
            </a>
        </li>
        <li>
            <a href="savedresturants" class="p-break">
                <i class="icon-Saved-Restaurants-Icon"></i>
                <span>Saved Restaurants</span>
            </a>
        </li>
        <li>
            <a href="referal">
                <i class="icon-Referal-Icon"></i>
                <span>Refer</span>
            </a>
        </li>
        <li>
            <a href="logout">
                <i class="icon-switch"></i>
                <span>Logout</span>
            </a>
        </li>
    </ul>
</div>